<div id="container">

  <div id="slide-panel" v-bind:class="{ shrunken: isPanelHidden}">
    <button class="ui tiny green icon button"
            v-on:click="clickedShowHide">
            <i class="angle double icon"
            v-bind:class="{ left: isPanelHidden, right: !isPanelHidden}"></i>
    </button>
  </div> 
  
  <div id="panel" v-bind:class="{ shrunken: isPanelHidden}">
      <div id="preheader">
        <hr/>
        <h3 class="apptitle">CHAMP Trips</h3>
        <div id="helpbar">
            <button class="ui mini right labeled icon violet button"
                    v-on:click="clickToggleHelp">
                    <i class="help circle icon"></i>
                    What is this?
            </button>
            &nbsp;
            <button class="ui mini right labeled icon violet button"
                    v-on:click="this.window.open('https://www.sfcta.org/congestion','_blank')">
                    <i class="arrow right icon"></i>
                    Learn More
            </button>
            <hr/>
           </div>

          <div id="picker">
            <!--h5 style="margin-top:15px">CHOOSE YEAR(S)</h5>
            <vue-slider v-bind="scnSlider" v-model="sliderValue"></vue-slider-->

            <h5 style="margin-top:15px">CHOOSE TOUR PURPOSE:</h5>
            <select v-model="selected_purpose">
              <option v-for="option in purpose_options" v-bind:value="option.value">
                ${option.text}
              </option>
            </select> 
            
            <h5 style="margin-top:15px">CHOOSE TRIP MODE:</h5>
            <select v-model="selected_mode">
              <option v-for="option in mode_options" v-bind:value="option.value">
                ${option.text}
              </option>
            </select>            
            
            <h5 style="margin-top:15px">CHOOSE TIME PERIOD:</h5>
            <select v-model="selected_timep">
              <option v-for="option in time_options" v-bind:value="option.value">
                ${option.text}
              </option>
            </select>
            
            <h5 style="margin-top:15px">CHOOSE NORMALIZER:</h5>
            <select v-model="selected_norm">
              <option v-for="option in norm_options" v-bind:value="option.value">
                ${option.text}
              </option>
            </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <!--input type="checkbox" id="pct_checkbox" v-model="pct_check" v-bind:disabled="!comp_check" style="margin-top:0px">
            <label for="pct_checkbox"><b>&nbsp;&nbsp;PERCENT DIFF</b></label-->
            
            <hr/>

            <label><b>CHOOSE CUSTOM BREAK POINTS</b></label>
            <br>
            <input v-model.number="bp0" type="number" step="any" v-bind:disabled="true" style="width:55px;background-color:#f8d488;margin-top:5px">
            <input v-model.number.lazy="bp1" type="number" step="any" v-bind:disabled="!custom_check" style="width:55px;">
            <input v-model.number.lazy="bp2" type="number" step="any" v-bind:disabled="!custom_check" style="width:55px;">
            <input v-model.number.lazy="bp3" type="number" step="any" v-bind:disabled="!custom_check" style="width:55px;">
            <input v-model.number.lazy="bp4" type="number" step="any" v-bind:disabled="!custom_check" style="width:55px;">
            <input v-model.number="bp5" type="number" step="any" v-bind:disabled="true" style="width:55px;background-color:#f8d488">            

            <button v-on:click="updateMap"
                    v-bind:class="{ active: isUpdActive, yellow: isUpdActive}"
                     class="mini ui grey button"
                    v-bind:disabled="!custom_check" style="margin-top:10px">
                     Update Map!</button>            

            <h5 style="margin-top:25px">FREQUENCY DISTRIBUTION</h5>
            <div id="dist-chart" style="height: 200px">
            </div>
            
          </div>
      </div>
      <div id="header">
          <!--div id="stats-panel">
            <hr style="margin-bottom:-5px;" />
            <div id="chartinfo"><h3 style="font-size: 22px;">${chartTitle}</h3></div>
            <div id="geoinfo"><h5>${chartSubtitle}</h5></div>
            <div id="longchart">
                <div class="ui active dimmer">
                  <div class="ui text loader">Loading</div>
                </div>
            </div>
          </div-->
      </div>

      <div class="logo">
        <hr/>
        <a class="agency-link" target="_blank" href="https://www.sfcta.org">
          <img class="img-logo" src="/assets/SFCTA Logo dark-background.svg" width="80%">
        </a>
      </div>
    </div>

  <div id="helpbox" v-if="showHelp" class="ui segment">
  <div v-cloak> <!-- hides everything until Vue finished loading -->
        <h2 style="margin-bottom:0px;">SF-CHAMP Trips</h2>
        <hr style="margin-bottom:5px;margin-top:5px"/>
        Add description.

        <ul>
        <li><b>metric 1</b> abcd</li>
        <li><b>metric 2</b> abcd</li>
        </ul>

        <h2 style="margin-top:10px; margin-bottom:0px;">How to use this map</h2>
        <hr style="margin-bottom:5px;margin-top:5px"/>
        <ul>
        <li>Select a metric to display it on the map for all geographies.</li>
        <li>Move the year slider to map historic data.</li>
        <li>Choose time period to display metric.</li>
        <li>Click on a geography for more information.</li>
        </ul>

        <div style="margin-top:20px;">
          <button v-on:click="clickToggleHelp" class="small ui right floated violet button">
            &nbsp;OK&nbsp;
          </button>

          <button v-on:click="this.window.open('/assets/sfcta_cmp_data_2017.zip')"
                  class="small ui right labeled icon floated yellow button"
                  style="margin-right:5px">
                  <i class="icon download"></i>
                  Download data (.zip)
          </button>

          <button v-on:click="this.window.open('https://www.sfcta.org/sf-champ-modeling','_blank')"
                  class="small ui right floated basic violet button"
                  style="margin-right:5px">
                  Learn more&hellip;
          </button>

        </div>
  </div>
  </div>
  


  <div id="sfmap"></div>

</div>
