<div id="container">

  <div id="slide-panel" v-bind:class="{ shrunken: isPanelHidden}">
    <div id="layer-widgets">
      <button class="ui tiny green icon button" v-on:click="clickedShowHide">
              <i class="angle double icon" v-bind:class="{ left: isPanelHidden, right: !isPanelHidden}"></i>
      </button>
    </div> 
  </div> 

  <div id="panel" v-bind:class="{ shrunken: isPanelHidden}">
      <div id="preheader">  
        <hr />
        <h3 class="apptitle">SF Collisions Data from SWITRS</h3>
        <div id="helpbar">
          <button class="ui mini right labeled icon violet button" v-on:click="clickToggleHelp">
                <i class="icon info"></i>
                What is this?
          </button>
          &nbsp;
          <button class="ui mini right labeled icon violet button" v-on:click="this.window.open('https://www.sfcta.org/CMP-home','_blank')">
                <i class="icon right arrow"></i>
                Learn More
          </button>
          <hr />
        </div>

        <div id="picker">
          <h5>CHOOSE TYPE:</h5>
          <button v-for="item in vizlist" v-on:click="clickViz(item)" class="mini ui grey button" v-bind:class="{ active: item==chosenIncidents, green: item==chosenIncidents }">
                ${vizinfo[item]['TXT']}
          </button>
          
          <h5>CHOOSE SEVERITY:</h5>
          <button class="mini ui grey button" v-on:click="pickFatal" v-bind:class="{ active: isFatalactive, orange: isFatalactive}">
                  Fatal</button>
          <button class="mini ui grey button" v-on:click="pickNonf" v-bind:class="{ active: isNonfactive, blue: isNonfactive}">
                  Non-Fatal</button>
          <button class="mini ui grey button" v-on:click="pickAll" v-bind:class="{ active: isAllactive, green: isAllactive}">
                  All</button>
          
          <h5>MAP LAYERS</h5>
          <p>Add additional geographic data to the map.</p>
          <div class="ui colorepc toggle checkbox">
            <input type="checkbox" value="epc2021_neighborhood" v-model="addLayers">
            <label><h5>Equity Priority Communities Neighborhoods</h5></label>
          </div>
          <div class="ui colorhin toggle checkbox">
            <input type="checkbox" value="hin2022" v-model="addLayers">
            <label><h5>High Injury Network</h5></label>
          </div>          
          <div class="ui colorsup toggle checkbox">
            <input type="checkbox" value="sup_district_boundaries_2022" v-model="addLayers">
            <label><h5>Supervisorial District Boundaries</h5></label>
          </div>
          <div class="ui colorpar toggle checkbox">
            <input type="checkbox" value="sfparks" v-model="addLayers">
            <label><h5>Major Parks</h5></label>
          </div>
        </div>  
      </div>
      <div id="header">
          <div id="stats-panel">
            <hr style="margin-bottom:-5px;" />
            <h3 style="font-size: 22px;">${chartTitle}</h3>
            <h5 style="font-size: 12px">${chartSubTitle}</h5>
            <div id="longchart">
                <div class="ui active dimmer">
                  <div class="ui text loader">Loading</div>
                </div>
            </div>
          </div>
      </div>
        
        <div class="logo">
          <div class="pickers">
            <h5>CHOOSE YEAR:</h5>
            <vue-slider v-bind="timeSlider" v-model="sliderValue"></vue-slider>
          </div>
          
          <hr />
          
          <div>
              <a class="agency-link" target="_blank" href="https://www.sfcta.org">
                <img class="img-logo" src="/assets/SFCTA Logo dark-background.svg" width="80%" />
              </a>
          </div>
        </div>

  </div>

  <div id="helpbox" v-if="showHelp" class="ui segment">
  <div v-cloak=""> <!-- hides everything until Vue finished loading -->
        <h2 style="margin-bottom:0px;">Bicycle and Pedestrian Collision Data</h2>
        <hr style="margin-bottom:5px;margin-top:5px" />
        This map is the observed pedestrian and bicycle collisions in San Francisco thanks to the Statewide Integrated Traffic Records System (SWITRS) (https://iswitrs.chp.ca.gov/Reports/jsp/index.jsp) database that included their latitude and longitude. The data was queried through the UC Berkeley SafeTREC Transportation Injury Mapping System (TIMS) (https://tims.berkeley.edu/), which provides summaries, other visualizations, and an easy way to access SWITRS data.

        <ul>
        <li>Collision locations are snapped to the nearest intersection using the latitudes and longitudes given from SWITRS to the latitude and longitudes of the intersections in San Francisco.</li>
        <li>Data is complete for years 2006-2021.</li>
        <li>Data for 2022 is provisional and subject to change.</li>
        </ul>

        <h2 style="margin-top:10px; margin-bottom:0px;">How to use this map</h2>
        <hr style="margin-bottom:5px;margin-top:5px" />
        <ul>
        <li>Select a collision type and severity to display it on the map for all years.</li>
        <li>Move the year slider to map historic data.</li>
        <li>Click on an intersection to update the chart with historic data for the clicked on intersection.</li>
        <li>Click the arrow on the top right to hide the side panel.</li>
        </ul>

        <div style="margin-top:20px;">
          <button v-on:click="clickToggleHelp" class="small ui right floated violet button">
            &nbsp;OK&nbsp;
          </button>

          <button v-on:click="this.window.open('/assets/safety_sf_switrs_2022.zip')" class="small ui right labeled icon floated yellow button" style="margin-right:5px">
                  <i class="icon download"></i>
                  Download data (.zip)
          </button>

          <button v-on:click="this.window.open('https://www.sfcta.org/congestion','_blank')" class="small ui right floated basic violet button" style="margin-right:5px">
                  Learn more&hellip;
          </button>
        </div>
  </div>
  </div>
  
  <div id="sfmap"></div>

</div>
