<div id="container">

  <div id="slide-panel" v-bind:class="{ shrunken: isPanelHidden}">
    <div id="layer-widgets">
      <button class="ui tiny color2 icon button"
              v-on:click="clickedShowHide">
              <i class="angle double icon"
              v-bind:class="{ left: isPanelHidden, right: !isPanelHidden}"></i>
      </button>
    </div>
  </div> 
  
  <div id="panel" v-bind:class="{ shrunken: isPanelHidden}">
      <div id="preheader">  
        <hr/>
		<h3 class="apptitle">COVID Scenario Tool</h3>
        <div id="helpbar">
            <button class="ui mini right labeled icon color2 button"
                    v-on:click="clickToggleHelp">
                    <i class="help circle icon"></i>
                    What is this?
            </button>
            &nbsp;
            <button class="ui mini right labeled icon color2 button"
                    v-on:click="this.window.open('https://connectsf.org/transportation-needs/','_blank')">
                    <i class="arrow right icon"></i>
                    Learn More
            </button>
            <hr/>
        </div>

        <div id="picker">
		  <h5 class="col1">CHOOSE PRESET SCENARIO</h5>
		  <select v-model="selectedPreset" class="col2">
            <option v-for="option in scenario_options" v-bind:value="option.id">
              ${option.name}
            </option>
          </select>
		  <h5 class="col-3">*OR* CHOOSE SCENARIO FEATURES</h5>

		  <div class="col-1"><h5>UNEMPLOYMENT</h5></div>
	      <div class="col-2"><vue-slider v-bind="dim1Slider" v-model="dim1Value"></vue-slider></div>

		  <div class="col-1"><h5>TELECOMMUTE</h5></div>
		  <div class="col-2"><vue-slider v-bind="dim2Slider" v-model="dim2Value"></vue-slider></div>

		  <div class="col-1"><h5>ACTIVITY PARTICIPATION</h5></div>
		  <div class="col-2"><vue-slider v-bind="dim3Slider" v-model="dim3Value"></vue-slider></div>

		  <div class="col-1"><h5>TRANSIT AVOIDANCE</h5></div>
		  <div class="col-2"><vue-slider v-bind="dim4Slider" v-model="dim4Value"></vue-slider></div>

		  <div class="col-1"><h5>TRANSIT SERVICE IMPACT</h5></div>
		  <div class="col-2"><vue-slider v-bind="dim5Slider" v-model="dim5Value"></vue-slider></div>

		 <div class="ui toggle checkbox">
          <input type="checkbox" v-model="comp_check">
          <label><h5>Compare to Base Scenario (pre-COVID)</h5></label>
         </div>
          
         <div class="col-3"><hr/></div>
          
         <div id="vizbuttons" class="ui vertical buttons">
              <button v-for="item in vizlist"
                    v-on:click="clickViz(item)"
                    class="ui grey button"
                    v-bind:class="{ active: item==selectedViz, color2: item==selectedViz }">
                    ${vizinfo[item]['TXT']}
              </button>
         </div>
         <div v-if="!isAspdHidden" style="margin-top:5px">
				<h5>CHOOSE TIME PERIOD</h5>
					<button v-for="item in tp_options2"
					  v-on:click="tpChanged2(item.value)"
					  class="ui mini grey button"
					  v-bind:class="{ active: item.value==selected_timep2, color1: item.value==selected_timep2 }">
					  ${item.text}
					</button>
		 </div>         
		 <div v-if="!isTrnHidden" style="margin-top:5px">
				<h5>CHOOSE TIME PERIOD</h5>
					<button v-for="item in tp_options"
					  v-on:click="tpChanged(item.value)"
					  class="ui mini grey button"
					  v-bind:class="{ active: item.value==selected_timep, color1: item.value==selected_timep }">
					  ${item.text}
					</button>
          
				<h5>CHOOSE TRANSIT MODE TYPE</h5>
					<button v-for="item in operator_options"
						  v-on:click="opChanged(item.value)"
						  class="ui mini grey button"
						  v-bind:class="{ active: item.value==selected_op, color1: item.value==selected_op }">
						  ${item.text}
					</button>
		 </div>
         <div v-if="!isTTHidden" style="margin-top:5px">
				<h5>CHOOSE PURPOSE</h5>
					<button v-for="item in purp_options"
						v-on:click="purpChanged(item.value)"
						class="ui mini grey button"
						v-bind:class="{ active: item.value==selected_purp, color1: item.value==selected_purp }">
						${item.text}
					</button>
          
				<h5>CHOOSE INCOME CATEGORY</h5>
					<button v-for="item in income_options"
						v-on:click="incomeChanged(item.value)"
						class="ui mini grey button"
						v-bind:class="{ active: item.value==selected_income, color1: item.value==selected_income }">
						${item.text}
					</button>
		 </div>		 
        </div>
		
      </div>
      
      <div class="logo">
	    
		<div class="pickers">
		  <hr/>
		  <h5>SCENARIO: ${scnTitle}</h5>
		  <div id="chart1" class="chcol1">
                <div class="ui active dimmer">
                  <div class="ui text loader">Loading</div>
                </div>
          </div>
		  <div id="chart2" class="chcol2"></div>
		  <div id="chart3" class="chcol3"></div>
		  <div id="chart4" class="chcol4"></div>
		  
		  <div class="chcol1">SF-Res Trips (000s)</div>
		  <div class="chcol2">Avg. Speed (mph)</div>
		  <div class="chcol3">Muni Brdgs. (000s)</div>
		  <div class="chcol4">VMT (million)</div>
		  <!--h5 style="margin-top:5px">SCENARIO SUMMARY</h5-->
			<!--table id="sumtable">
				<thead>
				  <tr>
					<th>Operator</th>
					<th>Weighted Trips</th>
				  </tr>
				</thead>
				<tbody>
					<tr v-for="row in rows">
						<td>${row.key}</td>
						<td>${row.value}</td>
					</tr>
				</tbody>
			</table-->
		</div>
        
		<div class="col-3"><hr/></div>
        <a class="agency-link" target="_blank" href="https://www.sfcta.org">
          <img class="img-logo" src="/assets/SFCTA Logo dark-background.svg">
        </a>
      </div>
  </div>

  <div id="helpbox" v-if="showHelp" class="ui segment">
    <div v-cloak> <!-- hides everything until Vue finished loading -->
          <h2 style="margin-bottom:0px;">COVID Scenario Tool</h2>
          <hr style="margin-bottom:5px;margin-top:5px"/>
            <!--This map shows how many people are riding transit (volume) and how crowded it is in 2015 and 2050.  The width of each line represents volume and the color represents crowding.  These estimates are summarized to stop-to-stop transit segments, which may be served by multiple transit lines. 
            <br><br>
            On most transit vehicles, crowding level 0.5 usually means most seats are occupied and some passengers may be standing. At 0.85, standing passengers are close and passenger movement is restricted. At 1.0, it is difficult for additional passengers to board. In this visualization, crowding is represented as an average across all of the individual vehicles in the time period, so some vehicles may be more or less crowded.
            <br><br>
            Use the buttons on the side panel to select the data you want to view.  Data selection options include: 
            <ul>
            <li><b>Year:</b> 2015, 2050, or Change to view the difference between 2015 and 2015.  
            <li><b>Time period:</b> AM (6:00 am to 9:00 am) or PM (3:30 pm to 6:30 pm)
            <li><b>Transit mode type:</b> Muni Bus, Muni Rail, or Regional Transit (including BART, Caltrain, Ferries, and regional bus service that serves San Francisco)
            </ul>
            You can also add additional context layers under “Map Layers”.-->


          <div style="margin-top:20px;">
            <button v-on:click="clickToggleHelp" class="small ui right floated teal button">
              &nbsp;OK&nbsp;
            </button>

            <!--button v-on:click="this.window.open('/assets/connectsf/trncrowding.zip')"
                    class="small ui right labeled icon floated color1 button"
                    style="margin-right:5px">
                    <i class="icon download"></i>
                    Download data (.zip)
            </button-->

            <button v-on:click="this.window.open('https://connectsf.org/transportation-needs/','_blank')"
                    class="small ui right floated basic teal button"
                    style="margin-right:5px">
                    Learn more&hellip;
            </button>

          </div>
    </div>
  </div>
  
  <div id="sfmap"></div>
</div>
