<div id="container">

  <div id="slide-panel" v-bind:class="{ shrunken: isPanelHidden}">
    <div id="layer-widgets">
      <button class="ui tiny green icon button"
              v-on:click="clickedShowHide">
              <i class="angle double icon"
              v-bind:class="{ left: isPanelHidden, right: !isPanelHidden}"></i>
      </button>
    </div>
  </div> 

  <div id="panel" v-bind:class="{ shrunken: isPanelHidden}">
      <div id="header">
          <div id="stats-panel">
            <div id="chartinfo"><h3 style="font-size: 22px;">Select & Combine Links</h3></div>
            <hr style="margin-bottom:20px;margin-top:15px;" />

            <div id="selectedLinks"></div>
            <div id="combineButton"></div>
          </div>
      </div>

  </div>



  <div id="sfmap"></div>

</div>
