<div id="container">

  <div id="slide-panel" v-bind:class="{ shrunken: isPanelHidden}">
    <div id="layer-widgets">
      <button class="ui tiny green icon button"
              v-on:click="clickedShowHide">
              <i class="angle double icon"
              v-bind:class="{ left: isPanelHidden, right: !isPanelHidden}"></i>
      </button>
    </div>
  </div> 

  <div id="panel" v-bind:class="{ shrunken: isPanelHidden}">
      <div id="preheader">
        <hr/>
        <h3 class="apptitle">SF CONGESTION TRACKER - INRIX</h3>
        <div id="helpbar">
            <button class="ui mini right labeled icon violet button"
                    v-on:click="clickToggleHelp">
                    <i class="help circle icon"></i>
                    What is this?
            </button>
            &nbsp;
            <button class="ui mini right labeled icon violet button"
                    v-on:click="this.window.open('https://www.sfcta.org/congestion','_blank')">
                    <i class="arrow right icon"></i>
                    Learn More
            </button>
            <hr/>
           </div>

          <div id="picker">
            <div id="vizbuttons" class="ui vertical buttons">
              <button v-for="item in vizlist"
                    v-on:click="clickViz(item)"
                    class="ui grey button"
                    v-bind:class="{ active: item==selectedViz, yellow: item==selectedViz }">
                    ${vizinfo[item]['TXT']}
              </button>
            </div>
          </div>
      </div>
      <div id="header">
          <div id="stats-panel">
            <hr style="margin-bottom:-5px;" />
            <div id="chartinfo"><h3 style="font-size: 22px;">${chartTitle}</h3></div>
            <div id="geoinfo"><h5>${chartSubtitle}</h5></div>
            <div id="longchart">
                <div class="ui active dimmer">
                  <div class="ui text loader">Loading</div>
                </div>
            </div>
          </div>
      </div>

      <div class="logo">
        <div class="pickers">
            <h5 style="margin-top:10px">CHOOSE WEEK:</h5>
            <vue-slider v-bind="timeSlider" v-model="sliderValue"></vue-slider>

            <h5>CHOOSE TIME PERIOD:</h5>
            <button v-on:click="pickAM"
                    v-bind:class="{ active: isAMActive, yellow: isAMActive}"
                     class="mini ui grey button">
                     AM</button>
            <button v-on:click="pickPM"
                    v-bind:class="{ active: isPMActive, yellow: isPMActive }"
                     class="mini ui grey button">
                     PM</button>
        </div>
        <br>

        <hr/>

        <div class="logo">
            <a class="agency-link" target="_blank" href="https://www.sfcta.org">
              <img class="img-logo" src="/assets/SFCTA Logo dark-background.svg" width="80%">
            </a>
        </div>
      </div>
    </div>

  <div id="helpbox" v-if="showHelp" class="ui segment">
  <div v-cloak> <!-- hides everything until Vue finished loading -->
        <h2 style="margin-bottom:0px;">SF Congestion Tracker - INRIX</h2>
        <hr style="margin-bottom:5px;margin-top:5px"/>
        Explore how congestion in San Francisco has changed since the March 2020 shelter-in-place order.
        Explore automobile (1) Level-of-Service (LOS) and (2) speed changes relative to pre-COVID conditions on key segments in our transportation network.</br>
        The LOS are calculated using speed data from INRIX Roadway Analytics. Speeds are weekly averages calculated using
        data from Tuesday through Thursday of each week. The data are updated every one to two weeks.
        
        <ul>
        <li><b>Auto Level-of-Service (LOS)</b> grades road segments by vehicle delay with "A" describing free flow,
        and "F" describing bumper-to-bumper conditions.</li>
        <li><b>Speed Change Relative to Pre-COVID</b> shows the percent difference between latest available average speed
        of a segment and the speed under pre-COVID conditions (from the week of 3rd March 2020). Lower and negative values imply that 
        speeds have droppped back to pre-COVID levels.</li>
        </ul>

        <h2 style="margin-top:10px; margin-bottom:0px;">How to use this map</h2>
        <hr style="margin-bottom:5px;margin-top:5px"/>
        <ul>
        <li>Move the week slider to map historic LOS data (not applicable for <b>Speed Change Relative to Pre-COVID</b> view).</li>
        <li>Choose time period to update map for AM (7a-9a) or PM (4:30p-6:30p) peak.</li>
        <li>Click on a roadway segment on the map to see segment-specific trends.</li>
        </ul>

        <div style="margin-top:20px;">
          <button v-on:click="clickToggleHelp" class="small ui right floated violet button">
            &nbsp;OK&nbsp;
          </button>

          <!--button v-on:click="this.window.open('/assets/sfcta_cmp_data_2019.zip')"
                  class="small ui right labeled icon floated yellow button"
                  style="margin-right:5px">
                  <i class="icon download"></i>
                  Download data (.zip)
          </button-->

          <button v-on:click="this.window.open('https://www.sfcta.org/congestion','_blank')"
                  class="small ui right floated basic violet button"
                  style="margin-right:5px">
                  Learn more&hellip;
          </button>

        </div>
  </div>
  </div>

  <div id="sfmap"></div>

</div>
