<div id="container">
  <div id="panel">
    <h3 class="apptitle">TRAVEL DEMAND TOOL*</h3>
    <div id="helpbar">
      <button class="ui mini right labeled icon greenish button"
        v-on:click="clickToggleHelp"><i class="help circle icon"></i>What is this?</button>
      &nbsp;
      <button class="ui mini right labeled icon greenish button"
        v-on:click="clickToggleInstructions"><i class="arrow right icon"></i>How to Use this Tool</button>
      <div class="ui divider"></div>
    </div>
    
    <form class="ui tiny equal width form" v-on:submit.prevent>
      <div class="field">
        <input v-model="address" class="fix" v-on:blur="addAddressTooltipToMap"
        
        type="text" placeholder="Search for address"/>
      </div>
    </form>
    <div class="ui mini yellow message">
      <b>Place Type: ${placetype_text}</b>
    </div>
    
    <div class="ui tiny grey fluid form">
        <div class="ui blueish accordion field"> <!-- put v-bind attributes here..-->
          <div class="top title" v-on:click="accord" v-on:keyup="updateMap">Residential</div>
          <div class="content field">
            <div class="ui mini grey inverted segment">
              <table class="ui small very compact inverted grey table">
                <tr><th></th><th>Daily</th><th>PM Peak</th></tr>
                <tr><td>Residential (per bedroom)</td><td>${res_tripgen_daily}</td><td>${res_tripgen_PM}</td></tr>
              </table>
              <div class="fields">
                <div class="field">
                  <label>Studios</label>
                  <input v-model.number="num_studios" v-on:keyup="updateMap" placeholder="Number of studios" type="number" key="num-studios">
                </div>
                <div class="field">
                  <label>1 Bedrooms</label>
                  <input v-model.number="num_1bed" v-on:keyup="updateMap" placeholder="Number of 1 bedrooms" type="number" key="num-1bed">
                </div>
              </div>
              <div class="fields">
                <div class="field">
                  <label>2 Bedrooms</label>
                  <input v-model.number="num_2bed" v-on:keyup="updateMap" placeholder="Number of 2 bedrooms" type="number" key="num-2bed">
                </div>
                <div class="field">
                  <label>3 Bedrooms</label>
                  <input v-model.number="num_3bed" v-on:keyup="updateMap" placeholder="Number of 3 bedrooms" type="number" key="num-3bed">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="ui accordion field">
          <div class="title" v-on:click="accord" >Office</div>
          <div class="content field">
            <div class="ui mini grey inverted segment">
              <table class="ui small very compact inverted grey table">
                <tr><th></th><th>Daily</th><th>PM Peak</th></tr>
                <tr><td>Office (per 1k sqft)</td><td>${off_tripgen_daily}</td><td>${off_tripgen_PM}</td></tr>
              </table>
              <div class="field">
                <label>Office Space</label>
                <input v-model.number="off_sqft" v-on:keyup="updateMap" placeholder="Square feet of office space" type="number" key="office-footage">
              </div>
            </div>
          </div>
        </div>

        <div class="ui accordion field">
          <div class="title" v-on:click="accord" >Retail</div>
          <div class="content field">
            <div class="ui mini grey inverted segment">
              <table class="ui small very compact inverted grey table">
                <tr><th></th><th>Daily</th><th>PM Peak</th></tr>
                <tr><td>Retail (per 1k sqft)</td><td>${ret_tripgen_daily}</td><td>${ret_tripgen_PM}</td></tr>
              </table>
              <div class="field">
                <label>Retail</label>
                <input v-model.number="ret_sqft" v-on:keyup="updateMap" placeholder="Square feet of retail space" type="number" key="retail-footage">
              </div>
            </div>
          </div>
        </div>
        
        <div class="ui accordion field">
          <div class="title" v-on:click="accord" >Restaurant</div>
          <div class="content field">
            <div class="ui mini grey inverted segment">
              <table class="ui small very compact inverted grey table">
                <tr><th></th><th>Daily</th><th>PM Peak</th></tr>
                <tr><td>Quality Sit-down (per 1k sqft)</td><td>${rest_tripgen_daily}</td><td>${rest_tripgen_PM}</td></tr>
                <tr><td>Composite (per 1k sqft)</td><td>${comp_tripgen_daily}</td><td>${comp_tripgen_PM}</td></tr>
              </table>
              <div class="fields">
                <div class="field">
                  <label>Quality sit-down: </label>
                  <input v-model.number="rest_sqft" v-on:keyup="updateMap" placeholder="Square feet of quality sit-down restaurant" type = "number" key="rest-footage">
                </div>
                <div class="field">
                  <label>Composite: </label>
                  <input v-model.number="comp_sqft" v-on:keyup="updateMap" placeholder="Square feet of composite restaurant" type = "number" key="comp-footage">
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="ui accordion field">
          <div class="title" v-on:click="accord" >Supermarket</div>
          <div class="content field">
            <div class="ui mini grey inverted segment">
              <table class="ui small very compact inverted grey table" v-on:submit.prevent>
                <tr><th></th><th>Daily</th><th>PM Peak</th></tr>
                <tr><td>Supermarket (per 1k sqft)</td><td>${sup_tripgen_daily}</td><td>${sup_tripgen_PM}</td></tr>
              </table>
              <div class="field">
                <label>Supermarket</label>
                <input v-model.number="sup_sqft" v-on:keyup="updateMap" placeholder="Square feet of supermarket space" type = "number" key="sup-footage">
              </div>
            </div>
          </div>
        </div>
        
        <div class="ui accordion field">
          <div class="bottom title" v-on:click="accord" >Hotel</div>
          <div class="content field">
            <div class="ui mini grey inverted segment">
              <table class="ui small very compact inverted grey table" v-on:submit.prevent>
                <tr><th></th><th>Daily</th><th>PM Peak</th></tr>
                <tr><td>Hotel (per room)</td><td>${hot_tripgen_daily}</td><td>${hot_tripgen_PM}</td></tr>
              </table>
              <div class="field">
                <label>Hotel</label>
                <input v-model.number="hot_rooms" v-on:keyup="updateMap" placeholder="Number of hotel rooms" type = "number" key="sup-footage">
              </div>
            </div>
          </div>
        </div>
    </div>
    
    <div class="ui divider"></div>
    <div class="pickers">
      <!--<h5>3. MODE:</h5>-->
        <div class="three tiny ui buttons">
          <button class = "tiny ui grey icon button" v-on:click="pickMode('auto')" 
            v-bind:class="{ active: isModeAuto, yellow: isModeAuto}"><i class="icon car"></i>All Auto</button>
          <button class = "tiny ui grey icon button" v-on:click="pickMode('transit')"
            v-bind:class="{ active: isModeTransit, yellow: isModeTransit}"><i class="icon bus"></i>Transit</button>
          <button class = "tiny ui grey icon button" v-on:click="pickMode('tnc/taxi')"
            v-bind:class="{ active: isModeTaxi, yellow: isModeTaxi}"><i class="icon taxi"></i>TNC/Taxi</button>
        </div>
        <div class="ui divider"></div>

      <!--<h5>4. TRIP PURPOSE:</h5>-->
        <div class="three tiny ui buttons">
          <button class = "tiny ui grey icon button" v-on:click="pickPurpose('work')"
            v-bind:class="{ active: isPurposeWork, yellow: isPurposeWork}">Work</button>
          <button class = "tiny ui grey icon button" v-on:click="pickPurpose('non-work')"
            v-bind:class="{ active: isPurposeNonWork, yellow: isPurposeNonWork}"> Non Work</button>
          <button class = "tiny ui grey icon button" v-on:click="pickPurpose('work and non-work')"
            v-bind:class="{ active: isPurposeAll, yellow: isPurposeAll}">Total</button>
        </div>
        <div class="ui divider"></div>

      <!--<h5>5. DIRECTION:</h5> -->
        <div class="three tiny ui buttons">
          <button class = "tiny ui grey icon button" v-on:click="pickDirection('inbound')"
            v-bind:class="{ active: isDirectionInbound, yellow: isDirectionInbound}"><i class="icon compress"></i>Inbound</button>
          <button class = "tiny ui grey icon button" v-on:click="pickDirection('outbound')"
            v-bind:class="{ active: isDirectionOutbound, yellow: isDirectionOutbound}"><i class="icon expand"></i>Outbound</button>
          <button class = "tiny ui grey icon button" v-on:click="pickDirection('inbound and outbound')"
            v-bind:class="{ active: isDirectionBoth, yellow: isDirectionBoth}">Total</button>
        </div>
        <div class="ui divider"></div>

      <!--<h5>6. TIME PERIOD:</h5> -->
        <div class="two tiny ui buttons">
          <button class = "tiny ui grey icon button" v-on:click="pickTimePeriod('daily')"
            v-bind:class="{ active: isTimePeriodDaily, yellow: isTimePeriodDaily}">Daily</button>
          <button class = "tiny ui grey icon button" v-on:click="pickTimePeriod('pm')"
            v-bind:class="{ active: isTimePeriodPM, yellow: isTimePeriodPM}"> PM Peak</button>
        </div>
        <div class="ui divider"></div>
              
      <!--<h5>7. DISTRIBUTION METHOD:</h5> -->
        <div class="three tiny ui buttons">
          <button class="tiny ui grey icon button" v-on:click="pickDistribution('district')"
            v-bind:class="{active: isDistributionDistrict, yellow: isDistributionDistrict}">District</button>
          <button class="tiny ui grey icon button" v-on:click="pickDistribution('place-type')"
            v-bind:class="{active: isDistributionPlaceType, yellow: isDistributionPlaceType}">Place Type</button>
          <button class="tiny ui grey icon button" v-on:click="pickDistribution('city')"
            v-bind:class="{active: isDistributionCity, yellow: isDistributionCity}">City</button>
        </div>
        <div class="ui divider"></div>
        
      <button v-on:click="clearAllInputs" class="tiny ui right labeled icon floated red button" 
        style="margin-right:5px"><i class="icon ban"></i>Reset All</button>
      <button v-on:click="downloadCSV();" class="tiny ui right labeled icon floated greenish button"
        style="margin-right:5px"><i class="icon download"></i>Download data (.zip)</button>
    </div>
    
    <div class="logo">
      <!--<hr/>-->
      <div class="ui divider"></div>
        <table id="table-logo"><tr>
          <td width="50%">
            <a class="agency-link" target="_blank" href="https://www.sfcta.org">
              <img class="img-logo" src="/assets/SFCTA Logo dark-background.svg">
            </a>
          </td>
          <td width="50%">
            <a class="agency-link" target="_blank" href="https://sf-planning.org/">
              <img class="img-logo" src="/assets/SFPlanning_Logo_Primary.png">
            </a>
          </td>
        </tr></table>
    
      <div class='ui divider'></div>
    </div>
    <font color="888888" size=1>*SF TRAVEL DEMAND: web-based tool to visualize travel demand and trip patterns for development projects in San Francisco. This tool is a beta version. A final version is forthcoming pending additional testing.
    <div class='ui divider'></div>
    <b>Website version: ${version} &nbsp;&nbsp;&nbsp;&nbsp; Data version: ${data_version}</b></font>
  </div>
 
<!-- this stuff is all only on click
-->
  <div id="helpbox" v-if="showHelp" class="ui raised segment">
    <div v-cloak> 
      <h2 style="margin-bottom:0px;">Trip generation, distribution and mode share</h2>
      <hr style="margin-bottom:5px;margin-top:5px"/>
      This tool estimates the number, type and common destinations of new trips that people would take to and from a new development project. 
      The estimates are for daily and for extended weekday peak hour within the p.m. peak period (3 to 7 p.m.).  For daily travel estimates, 
      all estimates are based on observations made during the entire day.  For p.m. peak hour travel, trip generation rates for the p.m. peak 
      hour are estimated using observations collected during the peak hour within the p.m. peak period. Origins, destinations, and other factors 
      concerning travel are estimated from observations during the 4-hour p.m. peak period (3 to 7 p.m.). The following are some key terms:

      <ul>
        <li><b>Trip Generation</b> The number of person trips that the tool estimates people would take to (inbound) and from (outbound) a new development project, by trip purpose (work, non-work, or total). </li>
        <li><b>Ways People Travel</b> also known as mode split. The way or method people use to travel between destinations (e.g., walking, bicycling, transit, etc.). The tool estimates the percentages of transit, driving, or for-hire vehicle (i.e., taxi or transportation network company) people would take to (inbound) and from (outbound) a new development project, by trip purpose (work, non-work, or total). </li>
        <li><b>Commmon Origins and Destinations</b> also known as trip distribution. The number of trips people would take to (inbound) and from (outbound) a new development project and another place (e.g., downtown), by trip purpose (work, non-work, or total). The tool distributes transit, driving, or for-hire vehicle trips into eight San Francisco neighborhoods, east bay, north bay, and south bay.</li>
      </ul>

      <div style="margin-top:20px;">
        <button v-on:click="clickToggleHelp" class="small ui right floated violet button">
          &nbsp;OK&nbsp;
        </button>
      </div>
    </div>
  </div>

  <div id="instructionsBox" v-if="showInstructions" class="ui raised segment">
    <div v-cloak> 
      <h2 style="margin-bottom:0px;">How to Use This Tool</h2>
      <!-- <hr style="margin-bottom:5px;margin-top:5px"/> -->
      This tool estimates the number, type and common destinations of new trips that people would take to and from a new development project. The estimates are for daily and for weekday PM peak hour. 
      <br/><br/>
      <div>
        <ol>
          <li>Please enter the project address in the entry bar. </li>
          <li>Enter project attributes by selecting the project’s appropriate land use types and filling in the amount of land use (e.g., number of units, gross square footage, etc.). </li>
          <li>Select travel attributes that you wish to query and display: </li>
          <ol type='a'>
            <li>Mode (e.g., All Auto Trips, Transit Trips, or TNC/Taxi Trips). </li>
            <li>Purpose (e.g., Work Trips,  Non-Work Trips, or All Trips). </li>
            <li>Direction (e.g., Inbound or Outbound Trips to the Project Site). </li>
            <li>Time period (e.g., Daily or PM Peak). </li>
            <li>Level of Trip Distribution (e.g., District, Place Type, City). </li>
          </ol>
          Based on your toggled attributes, the map interface displays the number of person trips between the project site and the neighborhood districts. The thresholds used by the interface to display the continuum of color scheme (light blue for the lowest group of person trips to dark blue for the highest group of person trips) self-updates based on the highest number of person trips using the toggled attributes.
          <br/><br/>
          <li>Click on the “Download Data” button to retrieve the outputs in a spreadsheet form to save for your records. </li>
          <li>Click on “Reset All” to start over. </li>        
        </ol>
        <b>Note: </b> The results of your selections are displayed on the upper right corner of the map interface. The ‘Total (Person Trips)’ column displays all daily person trips by mode, regardless of trip purpose and direction and vehicle trips. The ‘Filtered (Person Trips)’ column displays the number of person trips filtered by the selected toggle buttons for mode, purpose, direction, and time period.
        <br/><br/><b>Note: </b> Move your mouse cursor over the various neighborhoods on the map interface to see the results of your selections (filtered person trips, vehicle trips, and average vehicle occupancy) displayed per district (or selected level of distribution) located in the right corner of the map interface.
      </div>
      <div style="margin-top:20px;">
        <button v-on:click="clickToggleInstructions" class="small ui right floated violet button">
          &nbsp;OK&nbsp;
        </button>
      </div>
    </div>
  </div>

  <div id="sfmap"></div>

</div>
