<div id="container">

  <div id="slide-panel" v-bind:class="{ shrunken: isPanelHidden}">
    <button class="ui tiny green icon button"
            v-on:click="clickedShowHide">
            <i class="angle double icon"
            v-bind:class="{ left: isPanelHidden, right: !isPanelHidden}"></i>
    </button>
  </div> 
  
  <div id="panel" v-bind:class="{ shrunken: isPanelHidden}">
      <div id="preheader">
        <hr/>
        <h3 class="apptitle">HH Survey 2023</h3>
        <div id="helpbar">
            <button class="ui mini right labeled icon violet button"
                    v-on:click="clickToggleHelp">
                    <i class="help circle icon"></i>
                    What is this?
            </button>
            &nbsp;
            <button class="ui mini right labeled icon violet button"
                    v-on:click="this.window.open('https://www.sfcta.org/congestion','_blank')">
                    <i class="arrow right icon"></i>
                    Learn More
            </button>
            <hr/>
           </div>

          <div id="picker">
            <!--h5 style="margin-top:15px">CHOOSE YEAR(S)</h5>
            <vue-slider v-bind="scnSlider" v-model="sliderValue"></vue-slider-->
            
            <h5 style="margin-top:20px">CHOOSE HOUSEHOLD ID:</h5>
            <v-select v-model="hhidSelVal" :options="hhidOptions"></v-select>
            
            <h5 style="margin-top:15px">CHOOSE PERSON:</h5>
            <select v-model="pernumSelVal" size="5">
              <option v-for="option of pernumOptions" v-bind:value="option.value">
                ${option.text}
              </option>
            </select>
            
            <h5 style="margin-top:15px">CHOOSE TRAVEL DAY(S):</h5>
            <select v-model="dateSelVal" multiple>
              <option v-for="option of dateOptions" v-bind:value="option.value">
                ${option.text}
              </option>
            </select>
            
            <h5 style="margin-top:15px">CHOOSE TRIP(S):</h5>
            <input type="checkbox" id="comp_checkbox" v-model="comp_check" style="margin-top:0px">
            <label for="comp_checkbox"><b>SHOW ONLY COMPLETE TRIPS</b></label>
            <h5>TRIPNUM, OPURP, DPURP, MODE, DEPTM, ARRTM</h5>
            <select v-model="tripSelVal" size="15">
              <option v-for="option of tripOptions" v-bind:value="option.value">
                ${option.text}
              </option>
            </select>
            
            <!--br>
            <input type="checkbox" id="bwidth_checkbox" v-model="bwidth_check" style="margin-top:15px">
            <label for="bwidth_checkbox"><b>&nbsp;&nbsp;CHOOSE BAND-WIDTH METRIC:</b></label>
            <br>
            <select v-model="selected_bwidth" v-bind:disabled="!bwidth_check">
              <option v-for="option in bwidth_options" v-bind:value="option.value">
                ${option.text}
              </option>
            </select-->
            
            <hr/>

            <!--label><b>CHOOSE CUSTOM BREAK POINTS</b></label>
            <br>
            <input v-model.number="bp0" type="number" step="any" v-bind:disabled="true" style="width:55px;background-color:#f8d488;margin-top:5px">
            <input v-model.number.lazy="bp1" type="number" step="any" v-bind:disabled="!custom_check" style="width:55px;">
            <input v-model.number.lazy="bp2" type="number" step="any" v-bind:disabled="!custom_check" style="width:55px;">
            <input v-model.number.lazy="bp3" type="number" step="any" v-bind:disabled="!custom_check" style="width:55px;">
            <input v-model.number.lazy="bp4" type="number" step="any" v-bind:disabled="!custom_check" style="width:55px;">
            <input v-model.number="bp5" type="number" step="any" v-bind:disabled="true" style="width:55px;background-color:#f8d488">            

            <button v-on:click="updateMap"
                    v-bind:class="{ active: isUpdActive, yellow: isUpdActive}"
                     class="mini ui grey button"
                    v-bind:disabled="!custom_check" style="margin-top:10px">
                     Update Map!</button>            

            <h5 style="margin-top:25px">FREQUENCY DISTRIBUTION</h5>
            <div id="dist-chart" style="height: 200px">
            </div-->
            
            <!--input type="checkbox" id="bwcustom_checkbox" v-model="bwcustom_check" v-bind:disabled="bwcustom_disable" style="margin-top:15px">
            <label for="bwcustom_checkbox"><b>&nbsp;&nbsp;CHOOSE CUSTOM BANDWIDTH</b></label>
            <br>
            <input v-model.number="bwbp0" type="number" step="any" v-bind:disabled="true" style="width:55px;background-color:#f8d488;margin-top:5px">
            <input v-model.number.lazy="bwbp1" type="number" step="any" v-bind:disabled="!bwcustom_check || bwcustom_disable" style="width:55px;">
            <input v-model.number.lazy="bwbp2" type="number" step="any" v-bind:disabled="!bwcustom_check || bwcustom_disable" style="width:55px;">
            <input v-model.number.lazy="bwbp3" type="number" step="any" v-bind:disabled="!bwcustom_check || bwcustom_disable" style="width:55px;">
            <input v-model.number.lazy="bwbp4" type="number" step="any" v-bind:disabled="!bwcustom_check || bwcustom_disable" style="width:55px;">
            <input v-model.number="bwbp5" type="number" step="any" v-bind:disabled="true" style="width:55px;background-color:#f8d488">  
            
            <button v-on:click="bwUpdateMap"
                    v-bind:class="{ active: isBWUpdActive, yellow: isBWUpdActive}"
                     class="mini ui grey button"
                    v-bind:disabled="!bwcustom_check" style="margin-top:10px">
                     Update Map!</button-->
            
          </div>
      </div>
      <!--div id="header">
          <div id="stats-panel">
            <hr style="margin-bottom:-5px;" />
            <div id="chartinfo"><h3 style="font-size: 22px;">${chartTitle}</h3></div>
            <div id="geoinfo"><h5>${chartSubtitle}</h5></div>
            <div id="longchart">
                <div class="ui active dimmer">
                  <div class="ui text loader">Loading</div>
                </div>
            </div>
          </div>
      </div-->

      <div class="logo">
        <hr/>
        <a class="agency-link" target="_blank" href="https://www.sfcta.org">
          <img class="img-logo" src="/assets/SFCTA Logo dark-background.svg" width="80%">
        </a>
      </div>
    </div>

  <div id="helpbox" v-if="showHelp" class="ui segment">
  <div v-cloak> <!-- hides everything until Vue finished loading -->
        <h2 style="margin-bottom:0px;">Survey</h2>
        <hr style="margin-bottom:5px;margin-top:5px"/>
        abcd.

        <ul>
        <li><b>metric 1</b> abcd</li>
        <li><b>metric 2</b> abcd</li>
        </ul>

        <h2 style="margin-top:10px; margin-bottom:0px;">How to use this map</h2>
        <hr style="margin-bottom:5px;margin-top:5px"/>
        <ul>
        <li>Select a metric to display it on the map for all segments.</li>
        <li>Move the year slider to map historic data.</li>
        <li>Choose time period to display metric.</li>
        <li>Click on a colored roadway segment on the map to see segment-specific trends.</li>
        </ul>

        <div style="margin-top:20px;">
          <button v-on:click="clickToggleHelp" class="small ui right floated violet button">
            &nbsp;OK&nbsp;
          </button>

          <button v-on:click="this.window.open('/assets/')"
                  class="small ui right labeled icon floated yellow button"
                  style="margin-right:5px">
                  <i class="icon download"></i>
                  Download data (.zip)
          </button>

          <button v-on:click="this.window.open('https://www.sfcta.org/congestion','_blank')"
                  class="small ui right floated basic violet button"
                  style="margin-right:5px">
                  Learn more&hellip;
          </button>

        </div>
  </div>
  </div>
  


  <div id="sfmap"></div>

</div>
