

<div id="container">

  <div id="panel">
<!--     <div id="preheader">
 -->      <!-- <hr/> -->
      <h3 class="apptitle">TRAVEL DEMAND TOOL</h3>
      <div id="helpbar">
        <button class="ui mini right labeled icon violet button"
        v-on:click="clickToggleHelp">
        <i class="help circle icon"></i>
        What is this?
      </button>
      &nbsp;
      <button class="ui mini right labeled icon violet button"
      v-on:click="this.window.open('http://sf-planning.org/','_blank')">
      <i class="arrow right icon"></i>
      Learn More
    </button>
    <hr/>
  </div>
<!-- </div> -->
<h5>1. ENTER AN ADDRESS:</h5>

<input v-model="address" class="fix" append-icon= "icon taxi"
      type="text" v-autowidth="{maxWidth: '500px', minWidth: '130px', comfortZone: 0}" placeholder="Search for address or click on map"/>
      <!-- <v-text-field
            label="outline"
            placeholder="address"
            outline
          ></v-text-field> -->
&nbsp;&nbsp;<label>Place Type: ${placetype} </label>
<!-- <label>something else <span id="district_PT"></span></label>
 -->

<h5>2. CHOOSE LAND USE:</h5>
<!-- <div id="vizbuttons" class="ui vertical buttons"> -->
  <div >
  <button class = "ui toggle button" v-on:click="pickRes"
  v-bind:class="{ active: resSelected, blue: resSelected }"
  class="mini ui inverted blue icon button">Residential</button>
  <button class = "ui toggle button" v-on:click="pickOffice"
  v-bind:class="{ active: offSelected, blue: offSelected }"
  class="mini ui inverted blue icon button">Office</button>
  <button v-on:click="pickRet"
  v-bind:class="{ active: retSelected, blue: retSelected }"
  class="mini ui inverted blue icon button">Retail</button>
  <button v-on:click="pickRestaurant"
  v-bind:class="{ active: restSelected, blue: restSelected }"
  class="mini ui inverted blue icon button">Restaurant</button>
  <button v-on:click="pickSupermarket"
  v-bind:class="{ active: supSelected, blue: supSelected }"
  class="mini ui inverted blue icon button">Supermarket</button>
  <button v-on:click="pickHotel"
  v-bind:class="{ active: hotSelected, blue: hotSelected}"
  class="mini ui inverted blue icon button">Hotel</button>





</div>

<br>
<br>

    <template v-if="isRetail">

    <label>Retail trip generation rate (daily): ${ret_tripgen_daily}</label>
    <br><label>Retail trip generation rate (PM peak): ${ret_tripgen_PM}</label>
    <h4>Enter retail square footage: </h4>
    <input v-model.number = "ret_sqft" v-autowidth="{maxWidth: '100px', minWidth: '100px', comfortZone: 0}" placeholder="Enter a number" type = "number" key="retail-footage"></template>
    <template v-else-if="isOffice">
    <label>Office trip generation rate (daily): ${off_tripgen_daily}</label>
    <br><label>Office trip generation rate (PM peak): ${off_tripgen_PM}</label>

     <h4>Enter office square footage: </h4>
     <input v-model.number="off_sqft" v-autowidth="{maxWidth: '100px', minWidth: '100px', comfortZone: 0}" placeholder="Enter a number" type = "number" key="office-footage"></template>
     <template v-else-if="isResidential">
      <label>Residential trip generation rate (daily): ${res_tripgen_daily}</label>
      <br><label>Residential trip generation rate (PM peak): ${res_tripgen_PM}</label>
      <h4>Enter bedrooms by type: </h4>
      <label>Number of Studios:  </label>
      <input v-model.number = "num_studios" v-autowidth="{maxWidth: '100px', minWidth: '60px', comfortZone: 0}" placeholder="Enter a number" type = "number" key="num-studios">
      <br><br><label>Number of One Bedrooms:  </label>
      <input v-model.number = "num_1bed" v-autowidth="{maxWidth: '100px', minWidth: '60px', comfortZone: 0}" placeholder="Enter a number" type = "number" key="num-1bed">
      <br><br><label>Number of 2 bedrooms:  </label>
      <input v-model.number = "num_2bed" v-autowidth="{maxWidth: '100px', minWidth: '60px', comfortZone: 0}" placeholder="Enter a number" type = "number" key="num-2bed">
      <br><br><label>Number of 3 bedrooms:  </label>
      <input v-model.number = "num_3bed" v-autowidth="{maxWidth: '100px', minWidth: '60px', comfortZone: 0}" placeholder="Enter a number" type = "number" key="num-3bed"></template>
      <template v-else-if="isRestaurant">
      <label>Restaurant trip generation rate (daily): ${rest_tripgen_daily}</label>
      <br><label>Restaurant trip generation rate (PM peak): ${rest_tripgen_PM}</label>
      <h4>Enter restaurant square footage: </h4>
      <input v-model.number="rest_sqft" v-autowidth="{maxWidth: '100px', minWidth: '100px', comfortZone: 0}" placeholder="Enter a number" type = "number" key="rest-footage"></template>
      <template v-else-if="isSupermarket">
      <label>Supermarket trip generation rate (daily): ${sup_tripgen_daily}</label>
      <br><label>Supermarket trip generation rate (PM peak): ${sup_tripgen_PM}</label>
      <h4>Enter supermarket square footage: </h4>
      <input v-model.number="sup_sqft" v-autowidth="{maxWidth: '100px', minWidth: '100px', comfortZone: 0}" placeholder="Enter a number" type = "number" key="sup-footage"></template>
      <template v-else-if="isHotel">
      <label>Hotel trip generation rate (daily): ${hot_tripgen_daily}</label>
      <br><label>Hotel trip generation rate (PM peak): ${hot_tripgen_PM}</label>
      <h4>Enter hotel square footage: </h4>
      <input v-model.number="hot_sqft" v-autowidth="{maxWidth: '100px', minWidth: '100px', comfortZone: 0}" placeholder="Enter a number" type = "number" key="hot-footage"></template>
      <br>
      <br>

    <br>
    <br>

  <div class="pickers">
    <h5>3. CHOOSE MODE:</h5>
    <button v-on:click="pickAU" 
    v-bind:class="{ active: isAUActive, white: isAUActive}"
    class="tiny ui inverted white icon button"><i class="icon car"></i>
  All Auto</button>
  <button v-on:click="pickTR"
  v-bind:class="{ active: isTRActive, white: isTRActive}"
  class="tiny ui inverted white icon button"><i class="icon bus"></i>
Transit</button>
<button v-on:click="pickTaxiTNC"
  v-bind:class="{ active: isTaxiTNCActive, white: isTaxiTNCActive}"
  class="tiny inverted ui color1 icon button"><i class="icon taxi"></i>
TaxiTNC</button>

<br>


<h5>4. CHOOSE TRIP PURPOSE:</h5>
<button v-on:click="pickWork"
v-bind:class="{ active: isWork, white: isWork}"
class="tiny ui inverted white icon button">Work</button>
<button v-on:click="pickOther"
v-bind:class="{ active: isOther, white: isOther}"
class="tiny ui inverted white icon button"> Non Work</button>
<button v-on:click="pickAll"
v-bind:class="{ active: isAll, white: isAll}"
class="tiny ui inverted white icon button"> Total</button>

 <br>

 <h5>5. CHOOSE DIRECTION:</h5>
<button v-on:click="pickInbound"
v-bind:class="{ active: isInbound, white: isInbound}"
class="tiny ui inverted jellybean icon button"><i class="icon compress"></i>Inbound</button>
<button v-on:click="pickOutbound"
v-bind:class="{ active: isOutbound, white: isOutbound}"
class="tiny ui inverted jap_indigo icon button"><i class="icon expand"></i>Outbound</button>
<button v-on:click="pickBoth"
v-bind:class="{ active: isBoth, white: isBoth}"
class="tiny ui inverted white icon button"> Total</button>

<br>

<h5>5. CHOOSE TIME PERIOD:</h5>
<button v-on:click="pickDaily"
v-bind:class="{ active: isDaily, white: isDaily}"
class="tiny ui inverted white icon button">Daily</button>
<button v-on:click="pickPM"
v-bind:class="{ active: isPM, white: isPM}"
class="tiny ui inverted white icon button"> PM Peak</button>


<br>
<br>

<div id="download">
  <button v-on:click="updateMap" class="tiny ui right labeled icon floated green button" 
  style="margin-right:5px"><i class="icon arrow circle right"></i>Update
  </button>
  <button v-on:click="clearAllInputs" class="tiny ui right labeled icon floated yellow button" 
  style="margin-right:5px"><i class="icon ban"></i>Clear Inputs
  </button>
</div>
</div>

<br>


<div class="logo">
  <hr/>
<table id="table-logo"><tr>
  <td class="td-logo">
    <h4 class="agency"><b><a target="_blank" href="http://www.sfcta.org">SAN FRANCISCO COUNTY TRANSPORTATION AUTHORITY</a></b></h4>
  </td>
  <td class="td-logo">
    <a class="agency-link" target="_blank" href="http://www.sfcta.org">
      <img class="img-logo" src="/assets/sfcta-logo-144.png" width="80">
    </a>
  </td>
</tr></table>
</div>
</div>



<!-- this stuff is all only on click
 -->
<div id="helpbox" v-if="showHelp" class="ui segment">
  <div v-cloak> <!-- hides everything until Vue finished loading -->
    <h2 style="margin-bottom:0px;">Congestion in San Francisco</h2>
    <hr style="margin-bottom:5px;margin-top:5px"/>
    trip distribution statistics

    <ul>
      <li><b>Auto Level-of-Service (LOS)</b> grades road segments by vehicle delay with "A" describing free flow,
      and "F" describing bumper-to-bumper conditions.</li>
      <li><b>Transit Speed</b> reflects the average speeds including both when the buses are in motion as well as waiting at stops.</li>
      <li><b>Transit Reliability</b> shows the variability in transit travel speeds. A lower percentage means transit speeds are more consistent.</li>
      <li><b>Auto-Transit Speed Ratio</b> compares auto speeds to  to transit speeds, with lower values indicating where transit is more competitive with auto.
      If the ratio is 1 then auto and transit travel times are equal.</li>
    </ul>

    <h2 style="margin-top:10px; margin-bottom:0px;">How to use this map</h2>
    <hr style="margin-bottom:5px;margin-top:5px"/>
    <ul>
      <li>Select a metric to display it on the map for all segments, for the latest year (2017).</li>
      <li>Move the year slider to map historic data.</li>
      <li>Choose time period to display metric for AM or PM peak.</li>
      <li>Click on a colored roadway segment on the map to see segment-specific trends.</li>
    </ul>

    <div style="margin-top:20px;">
      <button v-on:click="clickToggleHelp" class="small ui right floated violet button">
        &nbsp;OK&nbsp;
      </button>

      <button v-on:click="downloadCSV();"
      class="small ui right labeled icon floated yellow button"
      style="margin-right:5px">
      <i class="icon download"></i>
      Download data (.zip)
    </button>

    <button v-on:click="this.window.open('http://sf-planning.org/','_blank')"
    class="small ui right floated basic violet button"
    style="margin-right:5px">
    Learn more&hellip;
  </button>

</div>
</div>
</div>

<div id="sfmap"></div>

</div>
