<div id="container">
  <div id="panel">
  <!--     <div id="preheader">
  -->      <!-- <hr/> -->
    <h3 class="apptitle">TRAVEL DEMAND TOOL</h3>
    <div id="helpbar">
      <button class="ui mini right labeled icon greenish button"
        v-on:click="clickToggleHelp"><i class="help circle icon"></i>What is this?</button>
      &nbsp;
      <button class="ui mini right labeled icon greenish button"
        v-on:click="clickToggleInstructions"><i class="arrow right icon"></i>How to Use this Tool</button>
      <hr/>
    </div>
    <!-- </div> -->
    <h5>1. ENTER AN ADDRESS:</h5>

    <input v-model="address" class="fix" append-icon= "icon taxi" v-on:blur="updateMap"
    type="text" v-autowidth="{maxWidth: '500px', minWidth: '130px', comfortZone: 0}" placeholder="Search for address or click on map"/>
    <!--type="text" v-autowidth="{maxWidth: '500px', minWidth: '130px', comfortZone: 0}" value='1455 Market Street'/>-->
          <!-- <v-text-field
                label="outline"
                placeholder="address"
                outline
                ></v-text-field> -->
                &nbsp;&nbsp;<label>Place Type: ${placetype_text} </label>
    <!-- <label>something else <span id="district_PT"></span></label>
    -->

    <h5>2. CHOOSE LAND USE:</h5>
    <div id="vizbuttons" class="ui vertical buttons">
      <button class = "ui toggle button" v-on:click="pickRes"
      v-bind:class="{ active: isResidential, yellow: isResidential}"
      v-bind:style="residentialStyle"
      class="ui blueish button">Residential</button>
      <button class = "ui toggle button" v-on:click="pickOffice"
      v-bind:class="{ active: isOffice, yellow: isOffice }"
      v-bind:style="officeStyle"
      class="ui blueish button">Office</button>
      <button v-on:click="pickRet"
      v-bind:class="{ active: isRetail, yellow: isRetail }"
      v-bind:style="retailStyle"
      class="ui blueish button">Retail</button>
      <button v-on:click="pickRestaurant"
      v-bind:class="{ active: isRestaurant, yellow: isRestaurant }"
      v-bind:style="restaurantStyle"
      class="ui blueish button">Restaurant</button>
      <button v-on:click="pickSupermarket"
      v-bind:class="{ active: isSupermarket, yellow: isSupermarket }"
      v-bind:style="supermarketStyle"
      class="ui blueish button">Supermarket</button>
      <button v-on:click="pickHotel"
      v-bind:class="{ active: isHotel, yellow: isHotel }"
      v-bind:style="hotelStyle"
      class="ui blueish button">Hotel</button>
    </div>

    <br><br>

    <template v-if="isRetail">
      <label>Retail trip generation rate (daily): ${ret_tripgen_daily}</label>
      <br><label>Retail trip generation rate (PM peak): ${ret_tripgen_PM}</label>
      <h4>Enter retail square footage: </h4>
      <input v-model.number="ret_sqft" v-on:keyup="updateMap" v-autowidth="{maxWidth: '100px', minWidth: '100px', comfortZone: 0}" placeholder="Enter a number" type = "number" key="retail-footage">
      <br><br>
    </template>

    <template v-else-if="isOffice">
      <label>Office trip generation rate (daily): ${off_tripgen_daily}</label>
      <br><label>Office trip generation rate (PM peak): ${off_tripgen_PM}</label>
      <h4>Enter office square footage: </h4>
      <input v-model.number="off_sqft" v-on:keyup="updateMap" v-autowidth="{maxWidth: '100px', minWidth: '100px', comfortZone: 0}" placeholder="Enter a number" type = "number" key="office-footage">
      <br><br>
    </template>

    <template v-else-if="isResidential">
      <label>Residential trip generation rate (daily): ${res_tripgen_daily}</label>
      <br><label>Residential trip generation rate (PM peak): ${res_tripgen_PM}</label>
      <h4>Enter the number of bedrooms by unit type: </h4>
      <label>Studios:  </label>
      <input v-model.number = "num_studios" v-on:keyup="updateMap" v-autowidth="{maxWidth: '100px', minWidth: '60px', comfortZone: 0}" placeholder="Enter a number" type = "number" key="num-studios">
      <br><br><label>1 Bedrooms:  </label>
      <input v-model.number = "num_1bed" v-on:keyup="updateMap" v-autowidth="{maxWidth: '100px', minWidth: '60px', comfortZone: 0}" placeholder="Enter a number" type = "number" key="num-1bed">
      <br><br><label>2 Bedrooms:  </label>
      <input v-model.number = "num_2bed" v-on:keyup="updateMap" v-autowidth="{maxWidth: '100px', minWidth: '60px', comfortZone: 0}" placeholder="Enter a number" type = "number" key="num-2bed">
      <br><br><label>3 Bedrooms:  </label>
      <input v-model.number = "num_3bed" v-on:keyup="updateMap" v-autowidth="{maxWidth: '100px', minWidth: '60px', comfortZone: 0}" placeholder="Enter a number" type = "number" key="num-3bed">
      <br><br>
    </template>

    <template v-else-if="isRestaurant">
      <label>Restaurant trip generation rate (daily): ${rest_tripgen_daily}</label>
      <br><label>Restaurant trip generation rate (PM peak): ${rest_tripgen_PM}</label>
      <h4>Enter restaurant square footage: </h4>
      <input v-model.number="rest_sqft" v-on:keyup="updateMap" v-autowidth="{maxWidth: '100px', minWidth: '100px', comfortZone: 0}" placeholder="Enter a number" type = "number" key="rest-footage">
      <br><br>
    </template>

    <template v-else-if="isSupermarket">          
      <label>Supermarket trip generation rate (daily): ${sup_tripgen_daily}</label>
      <br><label>Supermarket trip generation rate (PM peak): ${sup_tripgen_PM}</label>
      <h4>Enter supermarket square footage: </h4>
      <input v-model.number="sup_sqft" v-on:keyup="updateMap" v-autowidth="{maxWidth: '100px', minWidth: '100px', comfortZone: 0}" placeholder="Enter a number" type = "number" key="sup-footage">
      <br><br>
    </template>

    <template v-else-if="isHotel">           
      <label>Hotel trip generation rate (daily): ${hot_tripgen_daily}</label>
      <br><label>Hotel trip generation rate (PM peak): ${hot_tripgen_PM}</label>
      <h4>Enter number of hotel rooms: </h4>
      <input v-model.number="hot_sqft" v-on:keyup="updateMap" v-autowidth="{maxWidth: '100px', minWidth: '100px', comfortZone: 0}" placeholder="Enter a number" type = "number" key="hot-footage">
      <br><br>
    </template>
                
    <div class="pickers">
      <h5>3. CHOOSE MODE:</h5>
        <button class = "tiny ui grey icon button" v-on:click="pickAU" 
          v-bind:class="{ active: isAUActive, yellow: isAUActive}"><i class="icon car"></i>All Auto</button>
        <button class = "tiny ui grey icon button" v-on:click="pickTR"
          v-bind:class="{ active: isTRActive, yellow: isTRActive}"><i class="icon bus"></i>Transit</button>
        <button class = "tiny ui grey icon button" v-on:click="pickTaxiTNC"
          v-bind:class="{ active: isTaxiTNCActive, yellow: isTaxiTNCActive}"><i class="icon taxi"></i>TaxiTNC</button>
        <br>

      <h5>4. CHOOSE TRIP PURPOSE:</h5>
        <button class = "tiny ui grey icon button" v-on:click="pickWork"
          v-bind:class="{ active: isWork, yellow: isWork}">Work</button>
        <button class = "tiny ui grey icon button" v-on:click="pickOther"
          v-bind:class="{ active: isOther, yellow: isOther}"> Non Work</button>
        <button class = "tiny ui grey icon button" v-on:click="pickAll"
          v-bind:class="{ active: isAll, yellow: isAll}"> Total</button>
        <br>

      <h5>5. CHOOSE DIRECTION:</h5>
        <button class = "tiny ui grey icon button" v-on:click="pickInbound"
          v-bind:class="{ active: isInbound, yellow: isInbound}"><i class="icon compress"></i>Inbound</button>
        <button class = "tiny ui grey icon button" v-on:click="pickOutbound"
          v-bind:class="{ active: isOutbound, yellow: isOutbound}"><i class="icon expand"></i>Outbound</button>
        <button class = "tiny ui grey icon button" v-on:click="pickBoth"
          v-bind:class="{ active: isBoth, yellow: isBoth}"> Total</button>
        <br>

      <h5>6. CHOOSE TIME PERIOD:</h5>
        <button class = "tiny ui grey icon button" v-on:click="pickDaily"
          v-bind:class="{ active: isDaily, yellow: isDaily}">Daily</button>
        <button class = "tiny ui grey icon button" v-on:click="pickPM"
          v-bind:class="{ active: isPM, yellow: isPM}"> PM Peak</button>
        <br>
              
      <h5>7. CHOOSE DISTRIBUTION METHOD:</h5>
        <button class="tiny ui grey icon button" v-on:click="pickDistrict"
          v-bind:class="{active: isDistrict, yellow: isDistrict}">District</button>
        <button class="tiny ui grey icon button" v-on:click="pickPlaceType"
          v-bind:class="{active: isPlaceType, yellow: isPlaceType}">Place Type</button>
        <button class="tiny ui grey icon button" v-on:click="pickCity"
          v-bind:class="{active: isCity, yellow: isCity}">City</button>
        <br><br>
        
      <div id="download">
                <!-- <button v-on:click="updateMap" class="tiny ui right labeled icon floated greenish button" 
                style="margin-right:5px"><i class="icon arrow circle right"></i>Update
              </button>
              <!--<button v-on:click="clearAllInputs" class="tiny ui right labeled icon floated grey button" 
              style="margin-right:5px"><i class="icon ban"></i>Clear Inputs
            </button> -->
        <button v-on:click="resetAllInputs" class="tiny ui right labeled icon floated grey button" 
          style="margin-right:5px"><i class="icon ban"></i>Reset All</button>
      </div>
    </div>

    <br>

    <div class="logo">
      <hr/>
        <table id="table-logo"><tr>
          <!-- <td class="td-logo">
            <h4 class="agency"><b><a target="_blank" href="http://www.sfcta.org">SAN FRANCISCO COUNTY TRANSPORTATION AUTHORITY</a></b></h4>
          </td> -->
          <td class="td-logo">
            <a class="agency-link" target="_blank" href="http://www.sfcta.org">
              <img class="img-logo" src="/assets/sfcta-logo-144.png" width="80">
            </a>
          </td>
          <td class="planning-logo">
            <a class="agency-link" target="_blank" href="http://sf-planning.org/">
              <img class="img-logo" src="/assets/SFPlanning_Logo_Primary.png" width="180">
            </a>
          </td>
          
        </tr></table>
        
    </div>
  </div>

<!-- this stuff is all only on click
-->
  <div id="helpbox" v-if="showHelp" class="ui raised segment">
    <div v-cloak> 
      <h2 style="margin-bottom:0px;">Trip generation, distribution and mode share</h2>
      <hr style="margin-bottom:5px;margin-top:5px"/>
      This tool estimates  the number, type and common destinations of new trips that people would take to and from a new development project. The estimates are for daily and for extended weekday PM peak hour (3 to 7 p.m.). The following are some key terms:

      <ul>
        <li><b>Trip Generation</b> The number of person trips that the tool estimates people would take to (inbound) and from (outbound) a new development project, by trip purpose (work, non-work, or total). </li>
        <li><b>Ways People Travel</b> also known as mode split. The way or method people use to travel between destinations (e.g., walking, bicycling, transit, etc.). The tool estimates the percentages of transit, driving, or for-hire vehicle (i.e., taxi or transportation network company) people would take to (inbound) and from (outbound) a new development project, by trip purpose (work, non-work, or total). </li>
        <li><b>Commmon Origins and Destinations</b> also known as trip distribution. The number of trips people would take to (inbound) and from (outbound) a new development project and another place (e.g., downtown), by trip purpose (work, non-work, or total). The tool distributes transit, driving, or for-hire vehicle trips into eight San Francisco neighborhoods, east bay, north bay, and south bay.</li>
      </ul>

      <div style="margin-top:20px;">
        <button v-on:click="clickToggleHelp" class="small ui right floated violet button">
          &nbsp;OK&nbsp;
        </button>

        <button v-on:click="downloadCSV();"
          class="small ui right labeled icon floated yellow button"
          style="margin-right:5px">
          <i class="icon download"></i>
          Download data (.zip)
        </button>
      </div>
    </div>
  </div>

  <div id="instructionsBox" v-if="showInstructions" class="ui raised segment">
    <div v-cloak> 
      <h2 style="margin-bottom:0px;">How to Use This Tool</h2>
      <!-- <hr style="margin-bottom:5px;margin-top:5px"/> -->
      <ul>
        <li><b>Step 1: </b> Please enter the project address </li>
        <li><b>Step 2: </b> Please select any/all (multiple selections are permitted here) the land use/s proposed and enter the associated values (e.g., number of units, gross square footage, etc.). </li>
        <li><b>Step 3: </b> Please choose the way of travel (e.g., the tool will output all project generated transit person trips if you choose “Transit”).</li>
        <li><b>Step 4: </b> Please select a trip purpose (e.g., the tool will output all project generated “Transit” person trips whose trip purpose is “coming to and from work” if you choose the “Work” purpose). </li>
        <li><b>Step 5: </b> Please choose a trip direction (e.g., the tool will output all project generated “Transit” “Work” person trips that are traveling to the project site if you choose “Inbound”). </li>
        <li><b>Step 6: </b> Please select time period of interest (e.g., the tool will output all project generated “Transit” “Work” person trips in the “Inbound” during the PM peak period if “PM Peak” is selected).</li>
        <li><b>Step 7: </b> Click on “Update”. </li>
        <li><b>Step 8: </b> Move your mouse cursor over the various neighborhoods on the map interface to see the results of your selections displayed on the upper right corner. </li>
        <li><b>Step 9: </b> Click on the “Download Data” button in "What is this?" to retrieve the outputs in a spreadsheet form to save for your records. </li>
        <li><b>Step 10: </b> Click on “Clear Inputs” to start over.  </li></ul>

      <div style="margin-top:20px;">
        <button v-on:click="clickToggleInstructions" class="small ui right floated violet button">
          &nbsp;OK&nbsp;
        </button>
      </div>
    </div>
  </div>

  <div id="sfmap"></div>

</div>
