
<div id="container">
  <div id="panel">
    <!-- <div id="preheader"> -->
      <hr/>
      <h3 class="apptitle">TRAVEL DEMAND TOOL</h3>
      <div id="helpbar">
        <button class="ui mini right labeled icon violet button"
        v-on:click="clickToggleHelp">
        <i class="help circle icon"></i>
        What is this?
      </button>
      &nbsp;
      <button class="ui mini right labeled icon violet button"
      v-on:click="this.window.open('http://sf-planning.org/','_blank')">
      <i class="arrow right icon"></i>
      Learn More
    </button>
    <hr/>
  </div>

  <div id="picker" >
    <h5>ENTER PROPERTY ADDRESS IN SAN FRANCISCO</h5>
    <input v-model="address" width="100" placeholder="Search for address or click on map"/>
      <!-- <button v-on:click="updateMap" 
      class="mini ui grey button">
    Search</button> -->
    <!--  </div> -->
  </div>


  <div class="logo">
    <div class="pickers">

      <h5>CHOOSE MODE:</h5>
      <button v-on:click="pickAU" 
      v-bind:class="{ active: isAUActive, yellow: isAUActive}"
      class="mini ui grey button">
    All Auto</button>
    <button v-on:click="pickTR"
    v-bind:class="{ active: isTRActive, yellow: isTRActive}"
    class="mini ui grey button">
  Transit</button>
            <!-- <button v-on:click="pickShared2"
                    v-bind:class="{ active: isShared2Active}"
                     class="mini ui grey button">
                     Shared Ride 2</button>
            <button v-on:click="pickShared3"
                    v-bind:class="{ active: isShared3Active}"
                     class="mini ui grey button">
                     Shared Ride 3</button>
            <button v-on:click="pickTaxi"
                    v-bind:class="{ active: isTaxiActive}"
                     class="mini ui grey button">
                   Taxi</button> -->

                   <h5>CHOOSE TRIP PURPOSE:</h5>
                   <button v-on:click="pickWork"
                   v-bind:class="{ active: isWork, yellow: isWork}"
                   class="mini ui grey button">
                 Work</button>
                 <button v-on:click="pickOther"
                 v-bind:class="{ active: isOther, yellow: isOther}"
                 class="mini ui grey button">
               Non Work</button>




               <h5>CHOOSE LAND USE:</h5>
               <div id="vizbuttons" class="ui vertical buttons">
                     <!-- <div id= "office">
                      <input v-model="off_sqft" placeholder="Office ft^2">  -->
                      <button v-on:click="pickOffice"
                      v-bind:class="{ active: isOffice, yellow: isOffice}"
                      class="mini ui grey button">
                    Office</button>

                    <button v-on:click="pickRet"
                    v-bind:class="{ active: isRet, yellow: isRet }"
                    class="mini ui grey button">
                  Retail</button>

                  
                  <button v-on:click="pickRes"
                  v-bind:class="{ active: isRes, yellow:isRes}"
                  class="mini ui grey button">
                Residential</button></div>
              </div>

              <br>

              <div id="panel">
                <template v-if="isRet">
                  <h4>ENTER RETAIL SQUARE FOOTAGE: </h4>

                  <input placeholder="Enter retail square footage" key="retail-footage">
                </template>
                <template v-else-if="isOffice">
                 <h4>ENTER OFFICE SQUARE FOOTAGE: </h4>
                  <input placeholder="Enter office square footage" key="office-footage"></template>
                  <template v-else-if="isRes">
                    <h4>ENTER BEDROOMS BY TYPE: </h4>
                    <label>Enter number of studio units&nbsp;</label>
                    <input placeholder="number studios" key="num-studios">
                    <label>Enter number of 1 bedroom units&nbsp;</label>
                    <input placeholder="number 1 bedrooms" key="num-1bed">
                    <label>Enter number of 2 bedroom units&nbsp;</label>
                    <input placeholder="number 2 bedrooms" key="num-2bed"></template>
                  
                  

                  </div>

                  <br><br><button v-on:click="updateMap" 
                  class="mini ui grey button">
                Search</button>

                <hr/>

                <br><br><button v-on:click="this.window.open('/assets/sfcta_cmp_data_2017.zip')" 
                class="small ui right labeled icon floated yellow button"
                style="margin-right:5px">
                <i class="icon download"></i>
                Download data (.zip)
              </button>

              <table id="table-logo"><tr>
                <td class="td-logo">
                  <h4 class="agency"><b><a target="_blank" href="http://www.sfcta.org">SAN FRANCISCO COUNTY TRANSPORTATION AUTHORITY</a></b></h4>
                </td>
                <td class="td-logo">
                  <a class="agency-link" target="_blank" href="http://www.sfcta.org">
                    <img class="img-logo" src="/assets/sfcta-logo-144.png" width="80">
                  </a>
                </td>
              </tr></table>
            </div>
          </div>

          <div id="helpbox" v-if="showHelp" >
            <div v-cloak> <!-- hides everything until Vue finished loading -->
              <h2 style="margin-bottom:0px;">Congestion in San Francisco</h2>
              <hr style="margin-bottom:5px;margin-top:5px"/>
              trip distribution statistics

              <ul>
                <li><b>Auto Level-of-Service (LOS)</b> grades road segments by vehicle delay with "A" describing free flow,
                and "F" describing bumper-to-bumper conditions.</li>
                <li><b>Transit Speed</b> reflects the average speeds including both when the buses are in motion as well as waiting at stops.</li>
                <li><b>Transit Reliability</b> shows the variability in transit travel speeds. A lower percentage means transit speeds are more consistent.</li>
                <li><b>Auto-Transit Speed Ratio</b> compares auto speeds to  to transit speeds, with lower values indicating where transit is more competitive with auto.
                If the ratio is 1 then auto and transit travel times are equal.</li>
              </ul>

              <h2 style="margin-top:10px; margin-bottom:0px;">How to use this map</h2>
              <hr style="margin-bottom:5px;margin-top:5px"/>
              <ul>
                <li>Select a metric to display it on the map for all segments, for the latest year (2017).</li>
                <li>Move the year slider to map historic data.</li>
                <li>Choose time period to display metric for AM or PM peak.</li>
                <li>Click on a colored roadway segment on the map to see segment-specific trends.</li>
              </ul>

              <div style="margin-top:20px;">
                <button v-on:click="clickToggleHelp" class="small ui right floated violet button">
                  &nbsp;OK&nbsp;
                </button>

                <button v-on:click="this.window.open('/assets/sfcta_cmp_data_2017.zip')"
                class="small ui right labeled icon floated yellow button"
                style="margin-right:5px">
                <i class="icon download"></i>
                Download data (.zip)
              </button>

              <button v-on:click="this.window.open('http://sf-planning.org/','_blank')"
              class="small ui right floated basic violet button"
              style="margin-right:5px">
              Learn more&hellip;
            </button>

          </div>
        </div>
      </div>

      <div id="sfmap"></div>

    </div>
