<div id="container">

  <div id="slide-panel" v-bind:class="{ shrunken: isPanelHidden}">
    <button class="ui tiny green icon button"
            v-on:click="clickedShowHide">
            <i class="angle double icon"
            v-bind:class="{ left: isPanelHidden, right: !isPanelHidden}"></i>
    </button>
  </div> 
  
  <div id="panel" v-bind:class="{ shrunken: isPanelHidden}">
      <div id="preheader">
        <hr/>
        <h3 class="apptitle">TNCs & Transit Ridership</h3>
        <div id="helpbar">
            <button class="ui mini right labeled icon violet button"
                    v-on:click="clickToggleHelp">
                    <i class="help circle icon"></i>
                    What is this?
            </button>
            &nbsp;
            <button class="ui mini right labeled icon violet button"
                    v-on:click="this.window.open('https://www.sfcta.org/congestion','_blank')">
                    <i class="arrow right icon"></i>
                    Learn More
            </button>
            <hr/>
           </div>

          <div id="picker">
            <h5 style="margin-top:5px">CHOOSE SOURCE:</h5>
            <div id="vizbuttons" class="compact ui horizontal buttons">
              <button v-for="item in source_list"
                    v-on:click="clickSRC(item)"
                    class="ui grey button"
                    v-bind:class="{ active: item==selected_source, color2: item==selected_source }">
                    ${item}
              </button>
            </div> 
            
            <h5 style="margin-top:15px">CHOOSE TIME PERIOD:</h5>
            <div id="vizbuttons" class="compact ui horizontal mini buttons">
              <button v-for="item in tplist"
                    v-on:click="clickTP(item)"
                    class="ui grey button"
                    v-bind:class="{ active: item==selected_timep, color2: item==selected_timep }">
                    ${tpmap[item][0]}<br>${tpmap[item][1]}
              </button>
            </div>  
            
            <hr style="margin-top:15px"/>
            <h5 style="margin-top:10px">CHOOSE FACTORS AFFECTING CONGESTION:</h5>
            <div id="vizbuttons" class="ui vertical buttons">
              <button v-for="item in scnlist"
                    v-on:click="clickScn(item)"
                    class="ui active grey button"
                    v-bind:class="{ active: checkedScnFlag[item], color2: checkedScnFlag[item] }">
                    ${scninfo[item]}
              </button>
            </div>           

            <h5 style="margin-top:25px">FREQUENCY DISTRIBUTION</h5>
            <div id="dist-chart" style="height: 2px">
            </div>
            
          </div>
      </div>
      <div id="header">
          <div id="stats-panel">
            <hr style="margin-bottom:-5px;" />
            <div id="chartinfo"><h3 style="font-size: 22px;">${chartTitle}</h3></div>
            <div id="geoinfo"><h5>${chartSubtitle}</h5></div>
            <div id="longchart">
                <div class="ui active dimmer">
                  <div class="ui text loader">Loading</div>
                </div>
            </div>
          </div>
      </div>

      <div class="logo">
        <hr/>
        <a class="agency-link" target="_blank" href="https://www.sfcta.org">
          <img class="img-logo" src="/assets/SFCTA Logo dark-background.svg" width="80%">
        </a>
      </div>
    </div>

  <div id="helpbox" v-if="showHelp" class="ui segment">
  <div v-cloak> <!-- hides everything until Vue finished loading -->
        <h2 style="margin-bottom:0px;">TNCs & Transit Ridership</h2>
        <hr style="margin-bottom:5px;margin-top:5px"/>
        abcd.

        <ul>
        <li><b>metric 1</b> abcd</li>
        <li><b>metric 2</b> abcd</li>
        </ul>

        <h2 style="margin-top:10px; margin-bottom:0px;">How to use this map</h2>
        <hr style="margin-bottom:5px;margin-top:5px"/>
        <ul>
        <li>Select a metric to display it on the map for all segments.</li>
        <li>Move the year slider to map historic data.</li>
        <li>Choose time period to display metric.</li>
        <li>Click on a colored roadway segment on the map to see segment-specific trends.</li>
        </ul>

        <div style="margin-top:20px;">
          <button v-on:click="clickToggleHelp" class="small ui right floated violet button">
            &nbsp;OK&nbsp;
          </button>

          <button v-on:click="this.window.open('/assets/sfcta_cmp_data_2017.zip')"
                  class="small ui right labeled icon floated yellow button"
                  style="margin-right:5px">
                  <i class="icon download"></i>
                  Download data (.zip)
          </button>

          <button v-on:click="this.window.open('https://www.sfcta.org/congestion','_blank')"
                  class="small ui right floated basic violet button"
                  style="margin-right:5px">
                  Learn more&hellip;
          </button>

        </div>
  </div>
  </div>
  


  <div id="sfmap"></div>

</div>
