<div id="container">

  <div id="slide-panel" v-bind:class="{ shrunken: isPanelHidden}">
    <button class="ui tiny green icon button"
            v-on:click="clickedShowHide">
            <i class="angle double icon"
            v-bind:class="{ left: isPanelHidden, right: !isPanelHidden}"></i>
    </button>
  </div> 
  
  <div id="panel" v-bind:class="{ shrunken: isPanelHidden}">
      <div id="preheader">
        <hr/>
        <h3 class="apptitle">Bay Area Low Income Transit Use Map</h3>
        <div id="helpbar">
            <button class="ui mini right labeled icon violet button"
                    v-on:click="clickToggleHelp">
                    <i class="help circle icon"></i>
                    What is this?
            </button>
            &nbsp;
            <button class="ui mini right labeled icon violet button"
                    v-on:click="this.window.open('https://mtc.ca.gov/our-work/plans-projects/other-plans/regional-onboard-survey-program','_blank')">
                    <i class="arrow right icon"></i>
                    Learn More
            </button>
            <hr/>
           </div>

          <div id="picker">
            <!--h5 style="margin-top:15px">CHOOSE YEAR(S)</h5>
            <vue-slider v-bind="scnSlider" v-model="sliderValue"></vue-slider-->

            <h5 style="margin-top:15px">VIEW TRANSIT TRIPS BY:</h5>
			<div id="vizbuttons" class="compact ui horizontal mini buttons">
				<button v-for="option in metric_options"
                    v-on:click="metricSelect(option.value)"
                    class="ui grey button"
                    v-bind:class="{ active: option.value==selected_metric, yellow: option.value==selected_metric }">
                    ${option.text}
				</button>
			</div>

            <h5 style="margin-top:15px">SELECT MARKET SEGMENT:</h5>
			<div id="vizbuttons" class="compact ui horizontal mini buttons">
				<button v-for="option in dim2_options"
                    v-on:click="incomeSelect(option.value)"
                    class="ui grey button"
                    v-bind:class="{ active: option.value==selected_dim2, yellow: option.value==selected_dim2 }">
                    ${option.text}
				</button>
			</div>
			
			<h5 style="margin-top:15px">CHOOSE OPERATOR:</h5>
            <select v-model="selected_dim1">
              <option v-for="option in dim1_options" v-bind:value="option.value">
                ${option.text}
              </option>
            </select> 
            
            <!--h5 style="margin-top:15px">CHOOSE INCOME:</h5>
            <select v-model="selected_dim2">
              <option v-for="option in dim2_options" v-bind:value="option.value">
                ${option.text}
              </option>
            </select-->            
            
            <!--h5 style="margin-top:15px">CHOOSE TIME PERIOD:</h5>
            <select v-model="selected_dim3">
              <option v-for="option in dim3_options" v-bind:value="option.value">
                ${option.text}
              </option>
            </select-->
            
            <!--h5 style="margin-top:15px">CHOOSE NORMALIZER:</h5>
            <select v-model="selected_norm">
              <option v-for="option in norm_options" v-bind:value="option.value">
                ${option.text}
              </option>
            </select-->&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <!--input type="checkbox" id="pct_checkbox" v-model="pct_check" v-bind:disabled="!comp_check" style="margin-top:0px">
            <label for="pct_checkbox"><b>&nbsp;&nbsp;PERCENT DIFF</b></label-->
			
			<h5 style="margin-top:15px">REGIONWIDE SUMMARY</h5>
			<table id="sumtable">
				<thead>
				  <tr>
					<th>Operator</th>
					<th>Weighted Trips</th>
				  </tr>
				</thead>
				<tbody>
					<tr v-for="row in rows">
						<td>${row.op}</td>
						<td>${row.trips}</td>
					</tr>
				</tbody>
			</table>
            
            <!--hr/>

            <label><b>CHOOSE CUSTOM BREAK POINTS</b></label>
            <br>
            <input v-model.number="bp0" type="number" step="any" v-bind:disabled="true" style="width:55px;background-color:#f8d488;margin-top:5px">
            <input v-model.number.lazy="bp1" type="number" step="any" v-bind:disabled="!custom_check" style="width:55px;">
            <input v-model.number.lazy="bp2" type="number" step="any" v-bind:disabled="!custom_check" style="width:55px;">
            <input v-model.number.lazy="bp3" type="number" step="any" v-bind:disabled="!custom_check" style="width:55px;">
            <input v-model.number.lazy="bp4" type="number" step="any" v-bind:disabled="!custom_check" style="width:55px;">
            <input v-model.number="bp5" type="number" step="any" v-bind:disabled="true" style="width:55px;background-color:#f8d488">            

            <button v-on:click="updateMap"
                    v-bind:class="{ active: isUpdActive, yellow: isUpdActive}"
                     class="mini ui grey button"
                    v-bind:disabled="!custom_check" style="margin-top:10px">
                     Update Map!</button>            

            <h5 style="margin-top:25px">FREQUENCY DISTRIBUTION</h5>
            <div id="dist-chart" style="height: 200px">
            </div-->
            
          </div>
      </div>
      <div id="header">
          <!--div id="stats-panel">
            <hr style="margin-bottom:-5px;" />
            <div id="chartinfo"><h3 style="font-size: 22px;">${chartTitle}</h3></div>
            <div id="geoinfo"><h5>${chartSubtitle}</h5></div>
            <div id="longchart">
                <div class="ui active dimmer">
                  <div class="ui text loader">Loading</div>
                </div>
            </div>
          </div-->
      </div>

      <div class="logo">
        <hr/>
        <a class="agency-link" target="_blank" href="https://www.sfcta.org">
          <img class="img-logo" src="/assets/SFCTA Logo dark-background.svg" width="80%">
        </a>
      </div>
    </div>

  <div id="helpbox" v-if="showHelp" class="ui segment">
  <div v-cloak> <!-- hides everything until Vue finished loading -->
        <h2 style="margin-bottom:0px;">Bay Area Low Income Transit Use Map</h2>
        <hr style="margin-bottom:5px;margin-top:5px"/>
        This map shows transit trip patterns by low income travelers. Low income is defined as household income of $50,000 or less per year.

        <ul>
        <li>Transit trips can be displayed by 1) where the trips started; 2) where transit vehicles were first boarded; or 3) where the travelers live.</li>
        <li>Transit trip patterns by low income travelers can be compared to the transit trip patterns by non-low income travelers and by all travelers.</li>
		<li>Transit trips on each of the major transit systems can also be displayed individually.</li>
		<li>Darker colors indicate higher intensities of transit trips.</li>
        </ul>
		
		The data sources are the transit on-board surveys conducted by the Metropolitan Transportation Commission and individual transit operators, generally conducted between 2015 and 2019.  The data are aggregated and displayed at the Census tract level.

        <ul>
        <li>Clicking on an individual Census tract will reveal the total number of transit trips, as well as the density of transit trips (to account for the fact that Census tracts vary significantly in area).</li>
        </ul>

        <div style="margin-top:20px;">
          <button v-on:click="clickToggleHelp" class="small ui right floated violet button">
            &nbsp;OK&nbsp;
          </button>

          <!--button v-on:click="this.window.open('/assets/sfcta_cmp_data_2017.zip')"
                  class="small ui right labeled icon floated yellow button"
                  style="margin-right:5px">
                  <i class="icon download"></i>
                  Download data (.zip)
          </button-->

          <button v-on:click="this.window.open('https://mtc.ca.gov/our-work/plans-projects/other-plans/regional-onboard-survey-program','_blank')"
                  class="small ui right floated basic violet button"
                  style="margin-right:5px">
                  Learn more&hellip;
          </button>

        </div>
  </div>
  </div>
  


  <div id="sfmap"></div>

</div>
