<div id="container">

  <div id="slide-panel" v-bind:class="{ shrunken: isPanelHidden}">
    <button class="ui tiny green icon button"
            v-on:click="clickedShowHide">
            <i class="angle double icon"
            v-bind:class="{ left: isPanelHidden, right: !isPanelHidden}"></i>
    </button>
  </div> 
  
  <div id="panel" v-bind:class="{ shrunken: isPanelHidden}">
      <div id="preheader">
        <hr/>
        <h3 class="apptitle">Bay Area Transit Riders Map (Pre-COVID)</h3>
        <div id="helpbar">
            <button class="ui mini right labeled icon violet button"
                    v-on:click="clickToggleHelp">
                    <i class="help circle icon"></i>
                    What is this?
            </button>
            &nbsp;
            <button class="ui mini right labeled icon violet button"
                    v-on:click="this.window.open('https://www.sfcta.org/blogs/new-interactive-rider-map-support-transit-agencies','_blank')">
                    <i class="arrow right icon"></i>
                    Learn More
            </button>
            <hr/>
           </div>

          <div id="picker">

            <h5 style="margin-top:15px">VIEW TRANSIT TRIPS BY:</h5>
			<div id="vizbuttons" class="compact ui horizontal mini buttons">
				<button v-for="option in metric_options"
                    v-on:click="metricSelect(option.value)"
                    class="ui grey button"
                    v-bind:class="{ active: option.value==selected_metric, yellow: option.value==selected_metric }">
                    ${option.text}
				</button>
			</div>

            <h5 style="margin-top:15px">SELECT MARKET SEGMENT:</h5>
			<div id="vizbuttons" class="compact ui horizontal mini buttons">
				<button v-for="option in dim2_options"
                    v-on:click="incomeSelect(option.value)"
                    class="ui grey button"
                    v-bind:class="{ active: option.value==selected_dim2, yellow: option.value==selected_dim2 }">
                    ${option.text}
				</button>
			</div>
			
			<h5 style="margin-top:15px">CHOOSE OPERATOR:</h5>
            <select v-model="selected_dim1">
              <option v-for="option in dim1_options" v-bind:value="option.value">
                ${option.text}
              </option>
            </select> 
            
            <!--h5 style="margin-top:15px">CHOOSE INCOME:</h5>
            <select v-model="selected_dim2">
              <option v-for="option in dim2_options" v-bind:value="option.value">
                ${option.text}
              </option>
            </select-->            
			
			<h5 style="margin-top:15px">REGIONWIDE SUMMARY</h5>
			<table id="sumtable">
				<thead>
				  <tr>
					<th>Operator</th>
					<th>Trips</th>
				  </tr>
				</thead>
				<tbody>
					<tr v-for="row in rows">
						<td>${row.op}</td>
						<td>${row.trips}</td>
					</tr>
				</tbody>
			</table>
            
          </div>
      </div>
      <div id="header">
          <!--div id="stats-panel">
            <hr style="margin-bottom:-5px;" />
            <div id="chartinfo"><h3 style="font-size: 22px;">${chartTitle}</h3></div>
            <div id="geoinfo"><h5>${chartSubtitle}</h5></div>
            <div id="longchart">
                <div class="ui active dimmer">
                  <div class="ui text loader">Loading</div>
                </div>
            </div>
          </div-->
      </div>

      <div class="logo">
        <hr/>
        <a class="agency-link" target="_blank" href="https://www.sfcta.org">
          <img class="img-logo" src="/assets/SFCTA Logo dark-background.svg" width="80%">
        </a>
      </div>
    </div>

  <div id="helpbox" v-if="showHelp" class="ui segment">
  <div v-cloak> <!-- hides everything until Vue finished loading -->
        <h2 style="margin-bottom:0px;">Bay Area Transit Riders Map</h2>
        <hr style="margin-bottom:5px;margin-top:5px"/>
        This map shows trip patterns of Bay Area transit riders.

        <ul>
        <li>Transit trips can be displayed by 1) where the trips started; 2) where transit vehicles were first boarded; or 3) where the travelers live.</li>
        <li>Transit trip patterns by low income travelers can be compared to the transit trip patterns by non-low income travelers and by all travelers. Low income is defined as household income of $50,000 or less per year.</li>
		<li>Transit trips on each of the major transit systems can also be displayed individually.</li>
		<li>Darker colors indicate higher intensities of transit trips.</li>
        </ul>
		
		The data sources are the transit on-board surveys conducted by the Metropolitan Transportation Commission and individual transit operators, generally conducted between 2015 and 2019.  The data are aggregated and displayed at the Census tract level.

        <ul>
        <li>Clicking on an individual Census tract will reveal the total number of transit trips, as well as the density of transit trips (to account for the fact that Census tracts vary significantly in area).</li>
        </ul>

        <div style="margin-top:20px;">
          <button v-on:click="clickToggleHelp" class="small ui right floated violet button">
            &nbsp;OK&nbsp;
          </button>

          <!--button v-on:click="this.window.open('/assets/sfcta_cmp_data_2017.zip')"
                  class="small ui right labeled icon floated yellow button"
                  style="margin-right:5px">
                  <i class="icon download"></i>
                  Download data (.zip)
          </button-->

          <button v-on:click="this.window.open('https://www.sfcta.org/blogs/new-interactive-rider-map-support-transit-agencies','_blank')"
                  class="small ui right floated basic violet button"
                  style="margin-right:5px">
                  Learn more&hellip;
          </button>

        </div>
  </div>
  </div>
  


  <div id="sfmap"></div>

</div>
