/* CSS Layout for CHAMPLU ONLY goes here */


#slide-panel {
  top: auto;
  bottom: 50px;
}

.leaflet-bottom .info.legend.leaflet-control {
    margin-bottom: 70px;
}

table#sumtable thead th, tbody, td {   
  background-color: #444;
  color: #fff;
  border: 0px;
}

td:last-child {
  text-align: right;
}

th:last-child {
  text-align: right;
}



  