/* CSS Layout for this page ONLY goes here */

p {color:#ccc;}

h1,h3,h4,h5 {color: white; }
h1 {margin-top:0px;}
h2 {margin-top:4px;}
h3 {padding-top:5px;}
h4 {margin-right:10px;}
h5 {margin-top:4px; margin-bottom: 4px;}

/* keeps vue elements from "flashing" empty content before load is complete */
[v-cloak] {
  display: none;
}

#container {
  position: relative;
  width:100%;
  height:100%;
  background-color:#888;
}

#panel {
  display:table;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  width:400px;
  padding:0px 20px 0px 20px;
  z-index:10;
  background-color:#444;
  float: right;
}

#header {
  display:table-row;
  vertical-align:top;
}

#stats-loader {
  margin-top:100px;
  color:#ccc;
}

#stats-panel {
  position:center;
  vertical-align:top;
  width: 100%;
  margin-top: 50px;
}

#stats-panel h1 {font-size:28px;}


.apptitle {
  margin-top:-8px;
  margin-bottom:3px;
  color:#fff;
  text-align:center;
}

#helpbar {
  text-align:center;
  margin-bottom:10px;
}

.moreinfo {
  margin-bottom:15px;
  font-style:italic;
  font-size:13px;
  color:#fff;
}

#table-logo {
  margin-top:2px;
  margin-bottom: 2px;
}

p.hint {color:#777; text-align:right; margin-right:24px; margin-top:-20px;}

#panel label {
  color:white;
}

.colors { margin: 5px; cursor:pointer; border-style:solid; border-width:1px; border-color: #eee; opacity:0.80;}
.colors:hover {opacity: 1.0; border-color: #fff;}

#sfmap {
  height:800px;
  margin-right: 320px;
  z-index:0;
}

#helpbox {
     position: absolute;
     top:0;
     left:0;
     margin-top:8px;
     margin-left: 8px;
     width: 500px;
     z-index:20;
     box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

#longchart {
  height:230px;
}

#popup-title {
  color:#222;
  margin-top:0px;
  padding-top:0px;
}

#color-panel {
  display:none;
  text-align:center;
}

#sliderpanel {
  display: block;
}

/*.vue-slider-wrap {margin-left:20px;}*/

.column1 {width:60%; float: left; margin-top:20px; margin-bottom:30px;}
.column2 {width:40%; float: right; }

a {color: #fff;}
a:hover {color: #ddd;}

.mapboxgl-popup-content {
  opacity:0.9;
  padding-bottom: 5px;
}

li {margin-bottom:4px;}
ul {margin-top:5px;}

table {text-align:center; vertical-align:top; }
td {text-align:center; vertical-align:top; }

.td-logo {
  text-align:right;
  vertical-align:middle;
  padding-right: 0px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 1.0s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}

#btn-all-day {
  position:absolute;right:0;margin-right:42px;margin-top:-22px;z-index:100;
}

#legend {
  position: absolute;
  bottom:0;
  left:0;
  margin-bottom:5px;
  margin-left:5px;
  width:500px;
  z-index:99;
}

#vizbuttons {
  margin-top:5px;
  width:100%;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 1;
}
.legend2 {
    line-height: 5px;
    color: #555;
    min-width: 88px;
}
.legend2 i {
    width: 10px;
    height: 10px;
    float: left;
    margin-right: 8px;
    opacity: 1;
}

p.legend-row {
  margin-bottom: 3px;
  color: #666;
}

hr {
  margin: 5px 0px;
}

.logo {
  display:table-row;
  text-align:right;
  vertical-align:bottom;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:0px;
  height:80px;
}

tbody tr:nth-child(odd) td, tbody th {
    background-color: #444;
    border: 0px;
}

table { border: 0px; }

.img-logo {
  vertical-align: center;
  margin-bottom: 0px;
}

.agency {
  margin-right: 0px;
}

.pickers {
  text-align:left;
}

.info-panel {
    padding: 6px 8px;
    margin: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info-panel h4 {
    margin: 0 0 5px;
    color: #777;
}

.info-panel-hide {
    padding: 6px 8px;
    margin: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;

    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.info-panel-2 {
    padding: 6px 8px;
    margin: 46px 8px;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info-panel-hide-2 {
    padding: 6px 8px;
    margin: 46px 8px;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;

    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.ui.jap_indigo.button {
  background-color: #1C4459;
  color: #fff;
}

.ui.jellybean.button {
  background-color: #D94F4F;
  color: #fff;
}

.ui.saffron.button {
  background-color: #F7952D;
  color: #fff;
}

.ui.topaz.button {
  background-color: #FCCD70;
  color: #FCCD70;
}

.ui.eggshell.button {
  background-color: #EBE8D2;
  color: #fff;
}

.ui.blueish.button {
  /*background-color: #3182bd;*/
  color: #3182bd;
  /*border-color: #3182bd;*/

}



.myCSSClass {
  background: #ffffb2;
/*  border: 2px solid cyan
*/}
/*.leaflet-tooltip-left.myCSSClass::before {
  border-left-color: cyan;
}*/
/*.leaflet-tooltip-right.myCSSClass::before {
  border-right-color: cyan;
}*/






