/* CSS Layout for CSF_PATTERN ONLY goes here */

.leaflet-tooltip.district-name {
  background-color: transparent;
  border: transparent;
  box-shadow: none;
  font-weight: bold;
  font-size: 10px;
  font-family: 'Open Sans';
  width: 65px;
  white-space: normal;
}

#sfmap {
  width:380px;
  height:380px;
  margin-right:0px;
  z-index:0;
}

/*chord diagram*/
#chart_placeholder {
  text-align: center;
  float:left;
  /* color:#fff; */
  width: 1000px;
  height: 80%;
}
#circle circle {
  fill: none;
  pointer-events: all;
}
path.chord {
  stroke: #000;
  stroke-width: .10px;
  transition: opacity 0.3s;
}
#circle:hover path.fade {
  opacity: 0.1;
}
/*text is regions name only on chord diagram and scroll text*/
text {
  fill: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 14px;
}
svg {
  font-size: 10px;
  color: green;
}  

.link {
  margin-left: 30px;
  width:300px;
  height:50px;
  float: left;
}
.scroll {
  position:absolute; /*on top of vis*/
  top:0;
  left:0px;
}
.scroll2 {
  float:left;
}
/* unvisited link */
a.one:link {
  color:  #3CBCBC;
  text-decoration: none;
}
/* visited link */
a.one:visited {
  color: #54C571;
}
/* mouse over link */
a.one:hover {
  color: #736AFF;
}
/* selected link */
a.one:active {
  color: #3CBCBC;
}
/*this are the links to the table not to other pages*/
/* mouse over link */
a.two:hover + table {
  display: table;
  color: black;
}
/* unvisited link */
a.two:link {
  font-family: verdana;
  color: black;
  text-decoration: none;
}
/* visited link */
a.two:visited {
  font-family: verdana;
  color: black;
}
/* mouse over link */
a.two:hover {
  font-family: verdana;
  color: gray;
}
/* selected link */
a.two:active {
  font-family: verdana;
  color: black;
}   