/* CSS Layout for CSF_PATTERN ONLY goes here */

#slide-panel {
  top: auto;
  bottom: 90px;
}

.leaflet-bottom .legend.leaflet-control {
    margin-bottom: 100px;
}

.ui.color1.button {
  background-color: #f56e71;
  color: #fff;
}
.ui.color2.button {
  background-color: #38bebb;
  color: #fff;
}
.ui.color2.button.active {
  background-color: #38bebb;
}

/* Stand alone CSS */
.container {
  position: relative;
  width:100%;
  height:100%;
  background-color:#f88;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

#container {
  position: relative;
  width:100%;
  height:100%;
  background-color:#ccd;
}

#panel {
  display:table;
  position: relative;
  height:100%;
  width:400px;
  max-height:100%;
  padding:0px 20px 0px 20px;
  z-index:10;
  background-color:#444;
  float: right;
  transition: margin 0.4s;
}

#slide-panel {
  position: absolute;
  right: 400px;
  z-index: 10;
  height:1%;
  transition: margin 0.4s;
}

.shrunken {
  margin-right: -394px;
}

#sfmap {
  height:100%;
  z-index:0;
}

.apptitle {
  text-align:center;
}

#header {
  display:table-row;
  vertical-align:top;
}

#longchart {
  height: 230px;
}

h1,h3,h4,h5,p {
  color: #fff; 
  margin: 1% auto;
}
.ui h2 {
  color: #38bebb;
}


hr {margin: 1% 0px; }

/* Extra context layers*/
#layer-widgets {
  border-radius: 7px 0px 0px 7px;
  background-color: #555;
  z-index: 7;
}
#layer-widgets button {
  margin: 5px 5px 5px 5px;
}
.ui.toggle.checkbox {
  margin: 2% 3%;
}
.ui.toggle.checkbox input:focus:checked~label:before{
  background-color: #f56e71!important;
}
.ui.toggle.checkbox input:checked~label:before{
  background-color: #f56e71!important;
}

table#citywide tbody th, td {   
  background-color: #444;
  color: #fff;
  border: 0px;
}

/* Bottom agency and logo*/
tbody tr:nth-child(odd) td, tbody th {
    background-color: #444;
}
.logo {
  display:table-row;
  text-align:right;
  height:80px;
}
a.agency {color: #fff;}
#table-logo {
  margin-bottom: 0px;
  background-color: #444;
  border: 0px;
}
.td-logo {
  padding-right: 0px;
}
.img-logo {
  vertical-align: center;
  margin-bottom: 0px;
}

/*Legend*/
.legend {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 1;
}
p.legend-row {
  margin-bottom: 3px;
  color: #666;
}
.legend h4 {
    margin: 0 0 5px;
    color: #777;
}

/*Info panel*/
.info-panel {
    padding: 6px 8px;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info-panel-hide {
    padding: 6px 8px;
    background: rgba(255,255,255,0.8);
    border-radius: 5px;

    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}

/*Help*/
#helpbar {
  text-align:center;
}
#helpbox {
     position: absolute;
     top:0;
     left:0;
     margin-top:8px;
     margin-left: 8px;
     width: 500px;
     z-index:20;
     box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

/*chord diagram*/
#chart_placeholder {
  text-align: center;
  float:left;
  /* color:#fff; */
  width: 900px;
  height: 100%;
}
#circle circle {
  fill: none;
  pointer-events: all;
}
path.chord {
  stroke: #000;
  stroke-width: .10px;
  transition: opacity 0.3s;
}
#circle:hover path.fade {
  opacity: 0;
}
/*text is regions name only on chord diagram and scroll text*/
text {
  fill: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 14px;
}
svg {
  font-size: 10px;
  color: green;
  min-height: 100%;
  min-width: 100%;
}  



.link {
  margin-left: 30px;
  width:300px;
  height:50px;
  float: left;
}
.scroll {
  position:absolute; /*on top of vis*/
  top:0;
  left:0px;
}
.scroll2 {
  float:left;
}
/* unvisited link */
a.one:link {
  color:  #3CBCBC;
  text-decoration: none;
}
/* visited link */
a.one:visited {
  color: #54C571;
}
/* mouse over link */
a.one:hover {
  color: #736AFF;
}
/* selected link */
a.one:active {
  color: #3CBCBC;
}
/*this are the links to the table not to other pages*/
/* mouse over link */
a.two:hover + table {
  display: table;
  color: black;
}
/* unvisited link */
a.two:link {
  font-family: verdana;
  color: black;
  text-decoration: none;
}
/* visited link */
a.two:visited {
  font-family: verdana;
  color: black;
}
/* mouse over link */
a.two:hover {
  font-family: verdana;
  color: gray;
}
/* selected link */
a.two:active {
  font-family: verdana;
  color: black;
}   