---
layout: page
title: Safety
thumbnail: scrnshot.png
css: main.css
---

<h2>SF Collisions Data from SWITRS</h2>

<div id="container">
	<div id="panel">
		
		<div class="dashboard">
		<div id="picker">
			<hr/>
			<div>
			<h4>Select Period of Day:</h4>
			<button v-on:click="pickAM" v-bind:class="{ active: isAMactive }"
                     class="mini ui inverted blue icon button">
                     AM</button>
			<button v-on:click="pickPM" v-bind:class="{ active: isPMactive }"
                     class="mini ui inverted red icon button">
                     PM</button>		  
			</div>
			<br/>
			<div>
			<h4>Select What Incidents:</h4>
			<button v-on:click="pickBike" v-bind:class="{ active: isBikeactive }"
                     class="mini ui inverted green icon button">
                     Bike</button>
			<button v-on:click="pickPed" v-bind:class="{ active: isPedactive }"
                     class="mini ui inverted green icon button">
                     Pedestrian</button>
			<button v-on:click="pickBoth" v-bind:class="{ active: isBothactive }"
                     class="mini ui inverted green icon button">
                     Both</button>
			</div>
			<hr/>
			<h2>Summary Statistics</h32>
			<h4>Select What Year:</h4>
			<br/>
			<vue-slider v-bind="timeSlider" v-model="sliderValue"></vue-slider>
        <div id="btn-all-year">
        <transition name="fade">
            <button v-on:click="clickAllYears"
                    v-if="!isAllYear"
                    class="mini ui basic compact button"
                    >
                    &laquo; Back to All Years
            </button>
        </transition>
        </div>
		</div>
		</div>
	</div>
</div>
<br/>


<div id="sfmap"></div>

<script type="application/javascript" src="/bundles/safety.js"></script>
