---
layout: page
title: Safety
thumbnail: scrnshot.png
css: main.css
---

<h2>SF Collisions Data from SWITRS</h2>

<div id="container">
	<div id="panel">
		
		<div class="dashboard">
		<div id="picker">
			<hr/>
			<div>
			<h4>Select Period of Day:</h4>
			<button v-on:click="pickAM" v-bind:class="{ active: isAMactive }"
                     class="mini ui inverted blue icon button">
                     AM</button>
			<button v-on:click="pickPM" v-bind:class="{ active: isPMactive }"
                     class="mini ui inverted red icon button">
                     PM</button>		  
			</div>
			<br/>
			<div style="height:70px;font-size:1px;">
			<h4>Select What Incidents:</h4>
			<button 
                    v-on:click="pickBike"
                    class="mini ui inverted green icon button"
                    v-bind:class="{ active: isBikeactive}">
                    Bike
            </button>
			<button 
                    v-on:click="pickPed"
                    class="mini ui inverted green icon button"
                    v-bind:class="{ active: isPedactive}">
                    Pedestrian
            </button>
			<button 
                    v-on:click="pickBoth"
                    class="mini ui inverted green icon button"
                    v-bind:class="{ active: isBothactive}">
                    Both
            </button>
			</div>
			<div>
			<h5>Severity:</h5>
			<button 
                    v-on:click="pickFatal"
                    class="mini ui inverted yellow icon button"
                    v-bind:class="{ active: isFatalactive}">
                    Fatal
            </button>
			<button 
                    v-on:click="pickNonf"
                    class="mini ui inverted yellow icon button"
                    v-bind:class="{ active: isNonfactive}">
                    Non-Fatal
            </button>
			<button 
                    v-on:click="pickAll"
                    class="mini ui inverted yellow icon button"
                    v-bind:class="{ active: isAllactive}">
                    All
            </button>
			</div>
			<hr/>
			<h2>Summary Statistics</h32>
			<h4>Select What Year:</h4>
			<br/>
			<!--<vue-slider v-bind="timeSlider" v-model="sliderValue"></vue-slider>
        <div id="btn-all-year">
        <transition name="fade">
            <button v-on:click="clickAllYears"
                    v-if="!isAllYear"
                    class="mini ui basic compact button"
                    >
                    &laquo; Back to All Years
            </button>
        </transition>
        </div>-->
		</div>
		</div>
	</div>
</div>
<br/>


<div id="sfmap"></div>

<script type="application/javascript" src="/bundles/safety.js"></script>
