
p {color:#ccc;}

h3 {color: white; padding-top:5px;}
h4 {color: white;}
h5 {color: white;}

#container {
  position: relative;
  height:100%;
  width:100%;
  background-color:#888;
}

#panel {
	display:table;
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  width:380px;
  height:800px;
  padding:0px 20px 0px 30px;
  z-index:10;
  background-color:#444;
  float: right;
}

#sfmap {
  background-color:#eee;
  height: 800px;
  margin-right: 380px;
  margin-top: -19px;
}

.dashboard { width:100%; height:100%; padding:10px;}

#panel label {
  color:white;
}

#sliderpanel {
  width:300px;
}

#picker { width:100%; margin-right:20px;}

.column1 {width:50%; float: left; margin-top:20px; margin-bottom:30px;}
.column2 {width:50%; float: right; }

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

#btn-all-year {
  position:absolute;right:0;margin-right:42px;margin-top:-22px;z-index:100;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

#popup-title {
	color: black
}

.info-panel {
    padding: 6px 8px;
    margin: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info-panel h4 {
    margin: 0 0 5px;
    color: #777;
}

.info-panel-hide {
    padding: 6px 8px;
    margin: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;

    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}