
p {color:#ccc;}

h3 {color: white; padding-top:5px;}
h4 {color: white;}
h5 {color: white;}

#container {
  position: relative;
  width:100%;
  height:100%;
  background-color:#888;
}

#panel {
  display:table;
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  width:400px;
  padding:0px 20px 0px 20px;
  z-index:10;
  background-color:#444;
  float: right;
}


#header {
  display:table-row;
  vertical-align:top;
}

#stats-loader {
  margin-top:100px;
  color:#ccc;
}

#stats-panel {
  position:center;
  vertical-align:top;
  width: 100%;
  margin-top: 50px;
}

#stats-panel h1 {font-size:28px;}


.apptitle {
  margin-top:-8px;
  margin-bottom:3px;
  color:#fff;
  text-align:center;
}

#helpbar {
  text-align:center;
  margin-bottom:10px;
}

.moreinfo {
  margin-bottom:15px;
  font-style:italic;
  font-size:13px;
  color:#fff;
}

#table-logo {
  margin-top:2px;
  margin-bottom: 2px;
}

p.hint {color:#777; text-align:right; margin-right:24px; margin-top:-20px;}

#panel label {
  color:white;
}

#sfmap {
  background-color:#eee;
  height: 880px;
  margin-right: 380px;
}

#panel label {
  color:white;
}

#sliderpanel {
  width:300px;
}

#picker { width:100%; margin-right:20px;}

.column1 {width:50%; float: left; margin-top:20px; margin-bottom:30px;}
.column2 {width:50%; float: right; }

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

#btn-all-year {
  position:absolute;right:0;margin-right:42px;margin-top:-22px;z-index:100;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.legend .circlepadding {
    border-radius: 50%;
    margin-top: 0px;
    background: rgba(255, 255, 255, 0.8);
}

#popup-title {
	color: black
}

.info-panel {
    padding: 6px 8px;
    margin: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info-panel h4 {
    margin: 0 0 5px;
    color: #777;
}

.info-panel-hide {
    padding: 6px 8px;
    margin: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;

    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 18px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 7px;
}

.slider.round:before {
  border-radius: 50%;
}