<div id="container">

  <div id="panel">
      <div id="preheader">
        <hr/>
        <h3 class="apptitle">CMP EXPLORER</h3>
        <div id="helpbar">
            <button class="ui mini right labeled icon violet button"
                    v-on:click="clickToggleHelp">
                    <i class="help circle icon"></i>
                    What is this?
            </button>
            &nbsp;
            <button class="ui mini right labeled icon violet button"
                    v-on:click="this.window.open('http://www.sfcta.org/cmp','_blank')">
                    <i class="arrow right icon"></i>
                    Learn More
            </button>
            <hr/>
           </div>

          <div id="picker">
            <div id="vizbuttons" class="ui vertical buttons">
              <button v-for="item in vizlist"
                    v-on:click="clickViz(item)"
                    class="ui grey button"
                    v-bind:class="{ active: item==selectedViz, yellow: item==selectedViz }">
                    ${vizinfo[item]['TXT']}
              </button>
            </div>
          </div>
      </div>
      <div id="header">
          <div id="stats-panel">
            <hr style="margin-bottom:-5px;" />
            <div id="chartinfo"><h3>AUTO SPEED TREND (MPH):</h3></div>
            <div id="geoinfo"><h5>All Segments Combined</h5></div>
            <div id="longchart"></div>
          </div>
      </div>

      <div class="logo">
        <div class="pickers">
            <h5 style="margin-top:10px">CHOOSE YEAR:</h5>
            <vue-slider v-bind="timeSlider" v-model="sliderValue"></vue-slider>

            <h5>CHOOSE TIME PERIOD:</h5>
            <button v-on:click="pickAM"
                    v-bind:class="{ active: isAMActive, yellow: isAMActive}"
                     class="mini ui grey button">
                     AM</button>
            <button v-on:click="pickPM"
                    v-bind:class="{ active: isPMActive, yellow: isPMActive }"
                     class="mini ui grey button">
                     PM</button>
        </div>
            <br>

            <hr/>

            <table id="table-logo"><tr>
              <td class="td-logo">
                <h4 class="agency"><b><a target="_blank" href="http://www.sfcta.org/cmp">SAN FRANCISCO COUNTY TRANSPORTATION AUTHORITY</a></b></h4>
              </td>
              <td class="td-logo">
                <a class="agency-link" target="_blank" href="http://www.sfcta.org/cmp">
                  <img class="img-logo" src="/assets/sfcta-logo-144.png" width="80">
                </a>
              </td>
            </tr></table>
      </div>
    </div>



  <div id="helpbox" v-show="showHelp" class="ui segment">
        <h2 style="margin-bottom:0px;">Congestion in San Francisco</h2>
        <hr style="margin-bottom:5px;margin-top:5px"/>
        Use this tool to explore performance metrics for both automobiles and transit (buses) on San Francisco roadways.
        These are monitored every two years, in accordance with state law for Congestion Management Program (CMP).

        <ul>
        <li><b>Auto Level-of-Service (LOS)</b> grades road segments by vehicle delay with "A" describing free flow,
        and "F" describing bumper-to-bumper conditions.</li>
        <li><b>Transit Speed</b> for segments is calculated from GPS time-stamp data from Muni buses.</li>
        <li><b>Transit Variability</b> represents reliability as the percent of average bus speed that is equal to standard deviation
        with higher variability indicating lower reliability.</li>
        <li><b>Auto-Transit Speed Ratio</b> represents relative transit competitiveness as the ratio of auto to transit speed,
        with higher values indicating lower transit competitiveness.</li>
        </ul>

        <h2 style="margin-top:10px; margin-bottom:0px;">How to use this map</h2>
        <hr style="margin-bottom:5px;margin-top:5px"/>
        <ul>
        <li>Select a metric to display it on the map for all segments, for the latest year (2017)</li>
        <li>Move the year slider to map historic metric data</li>
        <li>Choose time period to display metric for AM or PM peak</li>
        <li>Click on a colored roadway segment on the map to update trend chart</li>
        </ul>

        <div style="margin-top:20px;">
          <button v-on:click="clickToggleHelp" class="small ui right floated violet button">
            &nbsp;OK&nbsp;
          </button>

          <button v-on:click="this.window.open('/assets/cmp_data_all.csv')"
                  class="small ui right labeled icon floated yellow button"
                  style="margin-right:5px">
                  <i class="icon download"></i>
                  Download data (.csv)
          </button>

          <button v-on:click="this.window.open('http://www.sfcta.org/congestion-management-program','_blank')"
                  class="small ui right floated basic violet button"
                  style="margin-right:5px">
                  Learn more&hellip;
          </button>

        </div>
  </div>

  <div id="sfmap"></div>

</div>
