<div id="container">

  <div id="slide-panel" v-bind:class="{ shrunken: isPanelHidden}" style="top:0px;">
    <button class="ui tiny green icon button"
            v-on:click="clickedShowHide">
            <i class="angle double icon"
            v-bind:class="{ left: isPanelHidden, right: !isPanelHidden}"></i>
    </button>
  </div> 

  <div id="panel" v-bind:class="{ shrunken: isPanelHidden}">
      <hr/>
      <h3 class="apptitle">SF Collisions Data from SWITRS</h3>
      <div id="helpbar">
        <button class="ui mini right labeled icon violet button"
                v-on:click="clickToggleHelp">
                <i class="icon info"></i>
                What is this?
        </button>
        &nbsp;
        <button class="ui mini right labeled icon violet button"
                v-on:click="this.window.open('http://www.sfcta.org/CMP-home','_blank')">
                <i class="icon right arrow"></i>
                Learn More
        </button>
        <hr/>
      </div>

      <div>
        <div style="height:70px;font-size:1px;">
          <h4>CHOOSE TYPE:</h4>
          <button class="mini ui grey button"
                  v-on:click="pickBike"
                  v-bind:class="{ active: isBikeactive, green: isBikeactive}">
                  Bike
          </button>
          <button class="mini ui grey button"
                  v-on:click="pickPed"
                  v-bind:class="{ active: isPedactive, green: isPedactive}">
                  Pedestrian
          </button>
        </div>
        <div style="height:70px;font-size:1px;">
          <h5>CHOOSE SEVERITY:</h5>
          <button class="mini ui grey button"
                  v-on:click="pickFatal"
                  v-bind:class="{ active: isFatalactive, orange: isFatalactive}">
                  Fatal
          </button>
          <button class="mini ui grey button"
                  v-on:click="pickNonf"
                  v-bind:class="{ active: isNonfactive, blue: isNonfactive}">
                  Non-Fatal
          </button>
          <button class="mini ui grey button"
                  v-on:click="pickAll"
                  v-bind:class="{ active: isAllactive, green: isAllactive}">
                  All
          </button>
        </div>
        <!--<h5>ADD INFORMATION LAYERS:</h5>
        <input type="checkbox" id="coc" value="Communities of Concern" v-model="checkedNames" v-on:change="onChange">
        <label for="coc">Communities of Concern</label>
        <input type="checkbox" id="hin" value="High Injury Network" v-model="checkedNames" v-on:change="onChange">
        <label for="hin">High Injury Network</label>-->

        <h4>CHOOSE YEAR:</h4>
        <vue-slider v-bind="timeSlider" v-model="sliderValue"></vue-slider>
        <hr/>
      </div>  
        <div id="chartinfo"><h3 style="font-size: 16px;">${chartTitle}</h3></div>
        <h5 style="font-size: 12px">${chartSubTitle}</h5>
        <div id="chart">
          <transition name="fade"></transition>
        </div>

      <div class="logo">
        <hr/>
        <table id="table-logo"><tr>
          <td class="td-logo">
            <h4 class="agency"><b><a target="_blank" href="http://www.sfcta.org/congestion">SAN FRANCISCO COUNTY TRANSPORTATION AUTHORITY</a></b></h4>
          </td>
          <td class="td-logo">
            <a class="agency-link" target="_blank" href="http://www.sfcta.org/congestion">
              <img class="img-logo" src="/assets/sfcta-logo-144.png" width="80">
            </a>
          </td>
        </tr></table>
      </div>

  </div>

  <div id="sfmap"></div>

  <div id="helpbox" v-show="showHelp" class="ui segment">
        <h2 style="margin-bottom:0px;">Bicycle and Pedestrian Collision Data</h2>
        <hr style="margin-bottom:5px;margin-top:5px"/>
        This map is the observed pedestrian and bicycle collisions in San Francisco thanks to the SWITRS database that included their latitude and longitude.

        <ul>
        <li>Collision locations are snapped to the nearest intersection using the latitudes and longitudes given from SWITRS to the latitude and longitudes of the intersections in San Francisco.</li>
        <li>Data is complete for years 2006-2014.</li>
        <li>Data is not entirely complete according to SWITRS information for years 2015-2017.</li>
        </ul>

        <h2 style="margin-top:10px; margin-bottom:0px;">How to use this map</h2>
        <hr style="margin-bottom:5px;margin-top:5px"/>
        <ul>
        <li>Select a collision type and severity to display it on the map for all years.</li>
        <li>Move the year slider to map historic data.</li>
        <li>Click on an intersection to update the chart with historic data for the clicked on intersection.</li>
        <li>Click the arrow on the top right to hide the side panel.</li>
        </ul>

        <div style="margin-top:20px;">
          <button v-on:click="clickToggleHelp" class="small ui right floated violet button">
            &nbsp;OK&nbsp;
          </button>

          <button v-on:click="this.window.open('/assets/sfcta_cmp_data_2017.zip')"
                  class="small ui right labeled icon floated yellow button"
                  style="margin-right:5px">
                  <i class="icon download"></i>
                  Download data (.zip)
          </button>

          <button v-on:click="this.window.open('http://www.sfcta.org/congestion','_blank')"
                  class="small ui right floated basic violet button"
                  style="margin-right:5px">
                  Learn more&hellip;
          </button>
        </div>
  </div>

</div>
