/* CSS Layout for standalone pages ONLY goes here */


.container {
  position: relative;
  width:100%;
  height:100%;
  background-color:#f88;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

#panel {
  display:table;
  position: relative;
  height:100%;
}

#slide-panel {
  position: absolute;
  right: 400px;
  top: 500px;
  z-index: 15;
  height:100%;
}

.shrunken {
  margin-right: -394px;
}

#sfmap {
  height:100%;
  margin-right: 0px;
}

  