/* CSS Layout for CHAMPLU ONLY goes here */

.ui.color1.button {
  background-color: #f56e71;
  color: #fff;
}
.ui.color1.button.active {
  background-color: #f56e71;
}

.ui.color2.button {
  background-color: #38bebb;
  color: #fff;
}
.ui.color2.button.active {
  background-color: #38bebb;
}

.ui.button {
  margin: 1% 1%;
}

.ui.toggle.checkbox input:focus:checked~label:before,
.ui.toggle.checkbox input:checked~label:before {
  background-color: #f56e71!important;
}

table#sumtable thead th, tbody, td {   
  background-color: #444;
  color: #fff;
  border: 0px;
}

td:last-child {
  text-align: right;
}

th:last-child {
  text-align: right;
}

[class*="col-"] {
  float: left;
  padding: 12px 5px;
}

.col-1 {width: 60%;}
.col-2 {width: 40%;}
.col-3 {width: 100%;}

.col1 {width: 55%; float: left; padding-bottom: 5px;}
.col2 {width: 45%; float: left;}

.chcol1, .chcol2, .chcol3, .chcol4 {
	width: 25%; 
	float: left;
	color: #fff;
}
#chart1, #chart2, #chart3, #chart4 {
  height:200px;
}


  