/* CSS Layout for CHAMPLU ONLY goes here */

.leaflet-bottom .info.legend.leaflet-control {
    margin-bottom: 100px;
}

.vs__dropdown-toggle {
  background: #fff;
}

#slide-panel {
  transition: margin 2s;
}
#panel {
  transition: margin 2s;
}



  