/* CSS Layout for CONNECTSF_TRAVELTIME ONLY goes here */


#slide-panel {
  top: auto;
  bottom: 50px;
}

.leaflet-bottom .info.legend.leaflet-control {
    margin-bottom: 70px;
}

.ui.color1.button {
  background-color: #f56e71;
  color: #fff;
}

.ui.color2.button.active {
  background-color: #38bebb;
}

.ui.tiny.color1.button {
  background-color: #f56e71;
  color: #fff;
}

.ui.tiny.color2.button.active {
  background-color: #38bebb;
}

  